<div class="flexrow top">
    <div class="flex1" style="margin-right: 5px;">
        <!-- NAME -->
        <div class="flexrow">
            <div class="flex1 center bg-header">
                <span class="field-label">{{ localize 'COF.details.name' }}</span>
            </div>
            <div class="flex2 center cell">
                <input class="field-value sans" name="name" type="text" value="{{actor.name}}" placeholder="Name" data-dtype="String"/>
            </div>
        </div>
        <!-- /NAME -->
        {{#if (isNotLimited @root)}}
            <!-- LEVEL -->
            <div class="flexrow">
                <div class="flex1 center bg-header">                                        
                    <a class="flex2 levelUp">{{ localize 'COF.attributes.level.label' }}</a>                    
                </div>
                <div class="flex2 center cell">
                    <input class="field-value" name="system.level.value" type="text" value="{{actor.system.level.value}}" placeholder="Level" data-dtype="Number"/>
                </div>
            </div>
            <!-- /LEVEL -->
        {{/if}}
    </div>
    <div class="flex1">
        <!-- SPECIES -->
        <div class="flexrow">
            <div class="flex1 center bg-header">
                <span class="field-label">{{ localize 'COF.details.species' }}</span>
            </div>
            {{#if species}}
                {{#with species}}
                    <div class="flex2 center cell drop-field cof-compendium-pack item" data-item-id="{{_id}}" data-item-type="species" data-pack="species" data-open="0" title="{{ localize "COF.species.openCompendium" }}">                
                        <div class="flex5 field-value sans item-edit" style="background-image: url('{{img}}'); background-size: 26px 26px; background-repeat: no-repeat">{{name}}</div>
                        <div class="species-controls item" data-item-id="{{_id}}" style="padding-right:5px;">
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-times"></i></a>
                        </div>                
                    </div>
                {{/with}}
            {{else}}
                <div class="flex2 center cell drop-field cof-compendium-pack" data-item-type="species" data-pack="species" data-open="0" title="{{localize "COF.ui.openCompendium"}}"></div>
            {{/if}}
        </div>
        <!-- /SPECIES -->
        {{#if (isNotLimited @root)}}
            <!-- PROFILE -->
            <div class="flexrow">
                <div class="flex2 center bg-header">
                    <span class="field-label">{{ localize 'COF.details.profile' }}</span>
                </div>
                {{#if profile}}
                    {{#with profile}}
                        <div class="flex4 center cell drop-field cof-compendium-pack item" data-item-id="{{_id}}" data-item-type="profile" data-pack="profiles" data-open="0" title="{{ localize "COF.path.openCompendium" }}">                
                            <div class="flex5 field-value sans item-edit" style="background-image: url('{{img}}'); background-size: 26px 26px; background-repeat: no-repeat">{{name}}</div>
                            <div class="profile-controls item" data-item-id="{{_id}}" style="padding-right:5px;">
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-times"></i></a>
                            </div>                
                        </div>
                    {{/with}}
                {{else}}
                    <div class="flex4 center cell drop-field cof-compendium-pack" data-item-type="profile" data-pack="profiles" data-open="0" title="{{localize "COF.ui.openCompendium"}}"></div>
                {{/if}}
            </div>
            <!-- /PROFILE -->
        {{/if}}
    </div>
</div>