{{#if (and data.properties.stackable (isNegativeOrNull data.qty))}}
    <ol class="item-list out-of-charge">
{{else}}
    <ol class="item-list">
{{/if}}
    <li class="item flexrow" data-item-id="{{_id}}" draggable="true">
        <div class="item-name flexrow">
            <div class="item-image" style="background-image: url('{{img}}')"></div>
            <h4>{{name}}</h4>
        </div>
        {{localize (concat "COF.category." data.subtype)}}
        <div class="item-detail {{#if data.properties.stackable}}item-qty unlocked{{else}}locked{{/if}}">
            {{#if data.properties.stackable}}{{data.qty}}{{/if}}
        </div>
        <div class="item-detail">
            {{#if data.properties.equipable}}
                {{#if data.worn}}
                    <a class="item-control item-equip" title="Déséquiper"><i class="fas fa-shield-alt"></i></a>
                {{else}}
                    <a class="item-control item-equip" title="Équiper" style="color:lightgray;"><i class="fas fa-shield-alt"></i></a>
                {{/if}}
            {{/if}}
            {{#if (and data.properties.consumable (isPositive data.qty))}}
                <a class="item-control item-consume" title="Consume Item"><i class="fas fa-drumstick-bite"></i></a>
<!--                <a class="item-control item-consume" title="Consommer"><i class="fas fa-cookie-bite"></i></a>-->
            {{/if}}
        </div>
        <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </li>
</ol>
