{{#if (isEmpty (getActiveCapacities actor.items))}}
<p class="empty">Aucune capacité n'a été sélectionnée pour le moment</p>
{{/if}}
{{!#each (getCapacities actor.items) as |capacity id|}}
{{#each (getActiveCapacities actor.items) as |capacity id|}}
<div class="capacity item" data-item-id="{{capacity._id}}">
    <div class="capacity-title">
            <a class="capacity-control capacity-edit" title="{{capacity.name}}">&nbsp;{{capacity.name}}({{capacity.data.rank}}){{#if capacity.data.spell}}&nbsp;&#10033;{{/if}}{{#if capacity.data.limited}}&nbsp;(L){{/if}}</a>
<!--            &nbsp;-->
<!--            <a class="capacity-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>-->
<!--        </div>-->
    </div>
    <div class="capacity-description">
        {{#with (getPath ../actor.items capacity.data.path)}}
        <em>{{{name}}}</em>
        {{/with}}
    </div>
    <div class="capacity-description">
        <div>{{{capacity.data.description}}}</div>
    </div>
</div>
{{/each}}
