<div class="row flexrow table-header blue no-wrap">
    <div class="flex2 center">
        <div class="field-label">{{ localize 'COF.attributes.defence.label' }}</div>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'COF.ui.base' }}</div>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'COF.ui.bonus' }}</div>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'COF.ui.value' }}</div>
    </div>
</div>
<div class="row flexrow no-wrap">
    <div class="flex2 center bg-blue">
        <span class="field-label"><i class="fas fa-shield-alt"></i>&nbsp;{{ localize 'COF.attributes.def.abbrev' }}</span>
    </div>
    <div class="flex1 center cell">
        <input class="field-value readonly" name="data.attributes.def.base" type="text" readonly="true" value="{{actor.data.attributes.def.base}}" placeholder="Base" data-dtype="Number"/>
    </div>
    <div class="flex1 center cell">
        <input class="field-value" name="data.attributes.def.bonus" type="text" value="{{actor.data.attributes.def.bonus}}" placeholder="Bonus" data-dtype="Number"/>
    </div>
    <div class="flex1 center cell">
        <input class="field-value readonly" name="data.attributes.def.value" readonly="true" type="text" value="{{actor.data.attributes.def.value}}" placeholder="Value" data-dtype="Number"/>
    </div>
</div>
{{#if (isEnabled "useDamageResistance")}}
<div class="row flexrow no-wrap">
    <div class="flex2 center bg-blue">
        <span class="field-label"><i class="fas fa-user-shield"></i>&nbsp;{{ localize 'COF.optional.dr.abbrev' }}</span>
    </div>
    <div class="flex1 center cell">
        <input class="field-value" name="data.optional.dr.base" type="text" value="{{actor.data.optional.dr.base}}" placeholder="Base" data-dtype="Number"/>
    </div>
    <div class="flex1 center cell">
        <input class="field-value" name="data.optional.dr.bonus" type="text" value="{{actor.data.optional.dr.bonus}}" placeholder="Bonus" data-dtype="Number"/>
    </div>
    <div class="flex1 center cell">
        <input class="field-value readonly" name="data.optional.dr.value" readonly="true" type="text" value="{{actor.data.optional.dr.value}}" placeholder="Value" data-dtype="Number"/>
    </div>
</div>
{{/if}}