<h3 class="form-header">{{localize "COF.ui.properties"}}</h3>
<input class="field-value" name="data.key" type="hidden" value="{{data.key}}" placeholder="{{ localize "COF.ui.key" }}" data-dtype="String">
<div class="form-group stacked">
    <label>Proriétés</label>
    <div class="form-fields">
        <label class="checkbox">
            <input type="checkbox" name="data.limited" {{checked data.limited}}> {{localize "COF.ui.limited"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="data.spell" {{checked data.spell}}> {{localize "COF.ui.spell"}}
        </label>
    </div>
</div>
