<h3 class="form-header">Effets</h3>
<div class="form-group">
    <label>{{localize "COF.ui.properties"}}</label>
    <div class="form-fields">
        <label class="checkbox"> <input type="checkbox" name="data.properties.heal" {{checked data.properties.heal}}> {{localize "COF.properties.heal"}}</label>
        <label class="checkbox"> <input type="checkbox" name="data.properties.buff" {{checked data.properties.buff}}> {{localize "COF.properties.buff"}}</label>
        <label class="checkbox"> <input type="checkbox" name="data.properties.temporary" {{checked data.properties.temporary}}> {{localize "COF.properties.temporary"}}</label>
        <label class="checkbox"> <input type="checkbox" name="data.properties.persistent" {{checked data.properties.persistent}}> {{localize "COF.properties.persistent"}}</label>
        <label class="checkbox"><input type="checkbox" name="data.properties.spell" {{checked data.properties.spell}}> {{localize "COF.properties.spell"}}</label>
    </div>
</div>

{{#if data.properties.heal}}
    <div class="form-group">
        <label>{{ localize "COF.ui.heal" }}</label>
        <div class="form-fields">
            <input type="text" name="data.effects.heal.formula" value="{{data.effects.heal.formula}}" placeholder="{{localize "COF.ui.formula"}}" data-dtype="String"/>
        </div>
    </div>
{{/if}}

{{#if data.properties.buff}}
    <div class="form-group">
        <label>{{ localize "COF.ui.buff" }}</label>
        <div class="form-fields">
            <input type="text" name="data.effects.buff.formula" value="{{data.effects.buff.formula}}" placeholder="{{localize "COF.ui.formula"}}" data-dtype="String"/>
        </div>
    </div>
{{/if}}

{{#if data.properties.temporary}}
    <div class="form-group">
        <label>{{ localize "COF.ui.duration" }}</label>
        <div class="form-fields">
            <input type="number" name="data.properties.duration.formula" value="{{data.properties.duration.formula}}" placeholder="{{localize "COF.ui.formula"}}" data-dtype="Number"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{ localize "COF.ui.units" }}</label>&nbsp;
        <select name="data.properties.duration.units" data-type="String" style="width:100%">
        {{#select data.properties.duration.units}}
            <option value="">{{localize "COF.None"}}</option>
            <option value="rounds">{{localize "COF.ui.rounds"}}</option>
            <option value="minutes">{{localize "COF.ui.minutes"}}</option>
            <option value="hours">{{localize "COF.ui.hours"}}</option>
            <option value="days">{{localize "COF.ui.days"}}</option>
        {{/select}}
    </select>
    </div>
{{/if}}