<h3 class="form-header">{{localize "COF.ui.equipment"}}</h3>

<div class="form-group stacked">
    <label>{{localize "COF.ui.properties"}}</label>
    <div class="form-fields">
        <label class="checkbox">
            <input type="checkbox" name="data.properties.equipable" {{checked item.data.properties.equipable}}> {{localize "COF.ui.equipable"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="data.properties.stackable" {{checked item.data.properties.stackable}}> {{localize "COF.ui.stackable"}}
        </label>
    </div>
</div>
