<h3 class="form-header">{{localize "COF.ui.properties"}}</h3>
<input class="field-value" name="data.key" type="hidden" value="{{item.data.key}}" placeholder="{{ localize "COF.ui.key" }}" data-dtype="String">

<div class="form-group">
    <label>{{localize "COF.ui.pathtype"}}</label>
    <div class="form-fields">
        <select name="data.scope" data-type="String" style="width:100%">
            {{#select data.scope}}
                <option value="">{{localize "COF.None"}}</option>
                <option value="alternative">{{localize "COF.ui.alternative"}}</option>
                <option value="creature">{{localize "COF.ui.creature"}}</option>
                <option value="prestige">{{localize "COF.ui.prestige"}}</option>
                <option value="profile">{{localize "COF.ui.profile"}}</option>
                <option value="species">{{localize "COF.ui.species"}}</option>
            {{/select}}
        </select>
    </div>
</div>

{{#if (or (equals data.scope "profile") (equals data.scope "prestige"))}}
    <div class="form-group">
        <label>{{localize "COF.ui.profile"}}</label>
        <div class="form-fields">
            <select name="data.profile" data-type="String" style="width:100%">
                {{#select data.profile}}
                    <option value="">{{localize "COF.None"}}</option>
                    {{#each (listProfiles) as |profile id|}}
                        <option value="{{profile.data.key}}">{{profile.name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </div>
{{/if}}
{{#if (equals data.scope "species")}}
    <div class="form-group">
        <label>{{localize "COF.ui.species"}}</label>
        <div class="form-fields">
            <select name="data.species" data-type="String" style="width:100%">
                {{#select data.species}}
                    <option value="">{{localize "COF.None"}}</option>
                    {{#each (listSpecies) as |species id|}}
                        <option value="{{species.data.key}}">{{species.name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </div>
{{/if}}

<h3 class="form-header">Ressources</h3>

<ol class="inventory-list">
    <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">Capacités</h3>
        <div class="item-detail"></div>
        <div class="item-detail item-rank">Rang</div>
        <div class="item-detail item-scope">Application</div>
        <div class="item-controls">
            <a class="item-control item-create compendium-pack" data-pack="cof.capacities" data-open="0" title="Ajouter une capacité"><i class="fas fa-plus"></i>&nbsp; Add</a>
        </div>
    </li>
    {{#each (getEmbeddedItems "capacity" data.capacities) as |capacity id|}}
    <ol class="item-list">
        <li class="item flexrow" data-item-id="{{capacity._id}}" data-item-type="capacity" data-key="{{capacity.data.key}}" draggable="true">
            <div class="item-name flexrow">
                <div class="item-image" style="background-image: url('{{capacity.img}}')"></div>
                <h4>{{capacity.name}}</h4>
            </div>
            <div class="item-detail"></div>
            <div class="item-detail item-rank">{{add id 1}}</div>
            <div class="item-detail item-scope">{{#if capacity.data.scope}} {{localize (concat "COF.ui." capacity.data.scope)}}{{/if}}</div>
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
    </ol>
    {{/each}}
</ol>
