<h3 class="form-header">{{localize "COF.ui.properties"}}</h3>
<input class="field-value" name="data.key" type="hidden" value="{{item.data.key}}" placeholder="{{ localize "COF.ui.key" }}" data-dtype="String">
<div class="form-group">
    <label>{{localize "COF.ui.hd"}}</label>
    <div class="form-fields">
        <select name="data.dv" data-type="String" style="width:100%">
            {{#select data.dv}}
                <option value="">{{localize "COF.None"}}</option>
                <option value="1d4">d4</option>
                <option value="1d6">d6</option>
                <option value="1d8">d8</option>
                <option value="1d10">d10</option>
                <option value="1d12">d12</option>
                <option value="1d20">d20</option>
            {{/select}}
        </select>
    </div>
</div>

<div class="form-group">
    <label>{{localize "COF.ui.spellcasting"}}</label>
    <div class="form-fields">
        <select name="data.spellcasting" data-type="String" style="width:100%">
            {{#select data.spellcasting}}
                <option value="">{{localize "COF.None"}}</option>
                <option value="int">{{localize "COF.stats.int.label"}}</option>
                <option value="wis">{{localize "COF.stats.wis.label"}}</option>
                <option value="cha">{{localize "COF.stats.cha.label"}}</option>
            {{/select}}
        </select>
    </div>
</div>

<div class="form-group">
    <label>{{localize "COF.ui.mpfactor"}}</label>
    <div class="form-fields">
        <select name="data.mpfactor" data-type="Number" style="width:100%">
            {{#select data.mpfactor}}
                <option value="0">0</option>
                <option value="1">x1</option>
                <option value="2">x2</option>
            {{/select}}
        </select>
    </div>
</div>

<h3 class="form-header">Maîtrises</h3>
<div class="form-group stacked">
    <label>Armes de contact</label>
    <div class="form-fields">
        <label class="checkbox"> <input type="checkbox" name="data.proficiencies.daggers" {{checked item.data.proficiencies.daggers}}> Dagues </label> <label class="checkbox"> <input type="checkbox" name="data.proficiencies.swords" {{checked item.data.proficiencies.swords}}> Épées </label> <label class="checkbox"> <input type="checkbox" name="data.proficiencies.axes" {{checked item.data.proficiencies.axes}}> Haches </label> <label class="checkbox"> <input type="checkbox" name="data.proficiencies.staves" {{checked item.data.proficiencies.staves}}> Bâtons </label> <label class="checkbox"> <input type="checkbox" name="data.proficiencies.clubs" {{checked item.data.proficiencies.clubs}}> Gourdins </label> <label class="checkbox"> <input type="checkbox" name="data.proficiencies.hammers" {{checked item.data.proficiencies.hammers}}> Marteaux </label> <label class="checkbox"> <input type="checkbox" name="data.proficiencies.katanas" {{checked item.data.proficiencies.katanas}}> Katanas </label>
        <label class="checkbox"> <input type="checkbox" name="data.proficiencies.2-hands" {{checked item.data.proficiencies.2-hands}}> Armes à deux mains </label>
    </div>
</div>
<div class="form-group stacked">
    <label>Armes à distance</label>
    <div class="form-fields">
        <label class="checkbox"> <input type="checkbox" name="data.proficiencies.slings" {{checked item.data.proficiencies.slings}}> Frondes </label> <label class="checkbox"> <input type="checkbox" name="data.proficiencies.bows" {{checked item.data.proficiencies.bows}}> Arcs </label> <label class="checkbox"> <input type="checkbox" name="data.proficiencies.crossbows" {{checked item.data.proficiencies.crossbows}}> Arbalètes </label> <label class="checkbox"> <input type="checkbox" name="data.proficiencies.throwing-weapons" {{checked item.data.proficiencies.throwing-weapons}}> Armes de jet </label> <label class="checkbox"> <input type="checkbox" name="data.proficiencies.powder-weapons" {{checked item.data.proficiencies.powder-weapons}}> Armes à poudre </label>
    </div>
</div>
<div class="form-group stacked">
    <label>Armures</label>
    <div class="form-fields">
        <label class="checkbox"> <input type="checkbox" name="data.proficiencies.soft-leather" {{checked item.data.proficiencies.soft-leather}}> Cuir léger </label> <label class="checkbox"> <input type="checkbox" name="data.proficiencies.studded-leather" {{checked item.data.proficiencies.studded-leather}}> Cuir lourd </label> <label class="checkbox"> <input type="checkbox" name="data.proficiencies.mail" {{checked item.data.proficiencies.mail}}> Armures de mailles </label> <label class="checkbox"> <input type="checkbox" name="data.proficiencies.half-plate" {{checked item.data.proficiencies.half-plate}}> Demi-plaques </label> <label class="checkbox"> <input type="checkbox" name="data.proficiencies.full-plate" {{checked item.data.proficiencies.full-plate}}> Armures complète en plaques </label> <label class="checkbox"> <input type="checkbox" name="data.proficiencies.shield" {{checked item.data.proficiencies.shield}}> Bouclier </label>
    </div>
</div>

<h3 class="form-header">Ressources</h3>

<ol class="inventory-list">
    <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">Voies</h3>
        <div class="item-controls">
            <a class="item-control item-create cof-compendium-pack" data-pack="paths" data-open="0" title="Ajouter une voie"><i class="fas fa-plus"></i>&nbsp; Aj.</a>
        </div>
    </li>
{{#each data.paths as |path id|}}
    <ol class="item-list">
        <li class="item flexrow" data-item-id="{{path._id}}" data-item-type="path" data-key="{{path.data.key}}" draggable="true">
            <div class="item-name flexrow">
                <div class="item-image" style="background-image: url('{{path.img}}')"></div>
                <h4>{{path.name}}</h4>
            </div>
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
    </ol>
{{/each}}
</ol>
