<h3 class="form-header">{{ localize "COF.properties.protection" }}</h3>
<div class="form-group">
    <label>{{localize "COF.ui.defBase"}}</label>
    <div class="form-fields">
        {{#if (isNull data.defBase)}}
            <input name="data.defBase" type="text" value="" placeholder="{{localize "COF.ui.defBase"}}" data-dtype="Number">
        {{else}}
            <input name="data.defBase" type="text" value="{{numberFormat data.defBase decimals=0 sign=true}}" placeholder="{{localize "COF.ui.defBase"}}" data-dtype="Number">
        {{/if}}
    </div>
</div>

<div class="form-group">
    <label>{{localize "COF.ui.defBonus"}}</label>
    <div class="form-fields">
        {{#if (isNull data.defBonus)}}
            <input name="data.defBonus" type="text" value="" placeholder="{{localize "COF.ui.defBonus"}}" data-dtype="Number">
        {{else}}
            <input name="data.defBonus" type="text" value="{{numberFormat data.defBonus decimals=0 sign=true}}" placeholder="{{localize "COF.ui.defBonus"}}" data-dtype="Number">
        {{/if}}
    </div>
</div>
<div class="form-group">
    <label>{{localize "COF.ui.properties"}}</label>
    <div class="form-fields">
        <label class="checkbox">
            <input type="checkbox" name="data.properties.dr" {{checked item.data.properties.dr}}> {{localize "COF.attributes.dr.label"}}
        </label>
    </div>
</div>
{{#if data.properties.dr}}
<div class="form-group">
    <label>{{localize "COF.attributes.dr.label"}}</label>
    <div class="form-fields">
        <input name="data.dr" type="text" value="{{data.dr}}" placeholder="COF.attributes.dr.abbrev" data-dtype="Number">
    </div>
</div>
{{/if}}