<h3 class="form-header">Propriétés d'armes à distance</h3>
<div class="form-group">
    <label>{{localize "COF.ui.range"}}</label>
    <div class="form-fields">
        <input name="data.range" type="text" value="{{item.data.range}}" placeholder="Range" data-dtype="Number">
    </div>
</div>

<div class="form-group">
    <label>{{localize "COF.ui.reload"}}</label>
    <div class="form-fields">
        <select name="data.reload" data-type="String" style="width:100%">
            {{#select data.reload}}
                <option value="">{{localize "COF.ui.noAction"}}</option>
                <option value="s">{{localize "COF.ui.simpleAction"}}</option>
                <option value="l">{{localize "COF.ui.limitedAction"}}</option>
            {{/select}}
        </select>
    </div>
</div>

<div class="form-group stacked">
    <label>Proriétés</label>
    <div class="form-fields">
        <label class="checkbox">
            <input type="checkbox" name="data.properties.attack-reload" {{checked item.data.properties.attack-reload}}> Action d'attaque pour être rechargée
        </label>
        <label class="checkbox">
            <input type="checkbox" name="data.properties.limited-reload" {{checked item.data.properties.limited-reload}}> Action limitée pour être rechargée
        </label>
        <label class="checkbox">
            <input type="checkbox" name="data.properties.two-handed" {{checked item.data.properties.two-handed}}> {{localize "COF.ui.2H"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="data.properties.13strmin" {{checked item.data.properties.13strmin}}> Nécessite 13 en FOR
        </label>
        <label class="checkbox">
            <input type="checkbox" name="data.properties.finesse" {{checked item.data.properties.finesse}}> Arme à poudre
        </label>
    </div>
</div>
