<h3 class="form-header">{{localize "COF.species.bonus"}}</h3>
<input class="field-value" name="system.key" type="hidden" value="{{item.system.key}}" placeholder="{{ localize "COF.ui.key" }}" data-dtype="String">

<div class="form-group">
    <label>{{localize "COF.stats.str.label"}}</label>
    <div class="form-fields">
        <input class="field-value" name="system.bonuses.str" type="text" value="{{numberFormat system.bonuses.str decimals=0 sign=true}}" placeholder="{{localize "COF.stats.str.label"}}" data-dtype="Number">
    </div>
</div>
<div class="form-group">
    <label>{{localize "COF.stats.dex.label"}}</label>
    <div class="form-fields">
        <input class="field-value" name="system.bonuses.dex" type="text" value="{{numberFormat system.bonuses.dex decimals=0 sign=true}}" placeholder="{{localize "COF.stats.dex.label"}}" data-dtype="Number">
    </div>
</div>
<div class="form-group">
    <label>{{localize "COF.stats.con.label"}}</label>
    <div class="form-fields">
        <input class="field-value" name="system.bonuses.con" type="text" value="{{numberFormat system.bonuses.con decimals=0 sign=true}}" placeholder="{{localize "COF.stats.con.label"}}" data-dtype="Number">
    </div>
</div>
<div class="form-group">
    <label>{{localize "COF.stats.int.label"}}</label>
    <div class="form-fields">
        <input class="field-value" name="system.bonuses.int" type="text" value="{{numberFormat system.bonuses.int decimals=0 sign=true}}" placeholder="{{localize "COF.stats.int.label"}}" data-dtype="Number">
    </div>
</div>
<div class="form-group">
    <label>{{localize "COF.stats.wis.label"}}</label>
    <div class="form-fields">
        <input class="field-value" name="system.bonuses.wis" type="text" value="{{numberFormat system.bonuses.wis decimals=0 sign=true}}" placeholder="{{localize "COF.stats.wis.label"}}" data-dtype="Number">
    </div>
</div>
<div class="form-group">
    <label>{{localize "COF.stats.cha.label"}}</label>
    <div class="form-fields">
        <input class="field-value" name="system.bonuses.cha" type="text" value="{{numberFormat system.bonuses.cha decimals=0 sign=true}}" placeholder="{{localize "COF.stats.cha.label"}}" data-dtype="Number">
    </div>
</div>

<h3 class="form-header">{{localize "COF.attributes.resources.label"}}</h3>

<ol class="inventory-list">
    <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">{{localize "COF.species.paths"}}</h3>
        <div class="item-controls">
            <a class="item-control item-create cof-compendium-pack" data-pack="paths" data-open="0" title="{{localize "COF.path.add"}}"><i class="fas fa-plus"></i>&nbsp; {{localize "COF.ui.add"}}</a>
        </div>
    </li>
    {{#each system.paths as |path id|}}
        <ol class="item-list">
            <li class="item flexrow" data-item-id="{{path._id}}" data-item-uuid="{{path.sourceId}}" data-item-type="path" data-key="{{path.system.key}}" draggable="true">
                <div class="item-name flexrow">
                    <div class="item-image" style="background-image: url('{{path.img}}')"></div>
                    <h4>{{path.name}}</h4>
                </div>
                <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize "COF.path.edit"}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="{{localize "COF.path.delete"}}"><i class="fas fa-trash"></i></a>
                </div>
            </li>
        </ol>
    {{/each}}

    <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">{{localize "COF.species.capacities"}}</h3>
        <div class="item-controls">
            <a class="item-control item-create cof-compendium-pack" data-pack="capacities" data-open="0" title="{{localize "COF.capacity.add"}}"><i class="fas fa-plus"></i>&nbsp; {{localize "COF.ui.add"}}</a>
        </div>
    </li>
    {{#each system.capacities as |capacity id|}}
        <ol class="item-list">
            <li class="item flexrow" data-item-id="{{capacity._id}}" data-item-uuid="{{capacity.sourceId}}" data-item-type="capacity" data-key="{{capacity.system.key}}" draggable="true">
                <div class="item-name flexrow">
                    <div class="item-image" style="background-image: url('{{capacity.img}}')"></div>
                    <h4>{{capacity.name}}</h4>
                </div>
                <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize "COF.capacity.edit"}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="{{localize "COF.capacity.delete"}}"><i class="fas fa-trash"></i></a>
                </div>
            </li>
        </ol>
    {{/each}}
</ol>
