<h3 class="form-header">Usage</h3>
<div class="form-group stacked">
    <label>{{localize "COF.ui.properties"}}</label>
    <div class="form-fields">
        <label class="checkbox"><input type="checkbox" name="system.properties.proficient" {{checked system.properties.proficient}}> {{localize "COF.properties.proficient"}}</label>
        <label class="checkbox"><input type="checkbox" name="system.properties.predilection" {{checked system.properties.predilection}}> {{localize "COF.properties.predilection"}}</label>
        <label class="checkbox"><input type="checkbox" name="system.properties.finesse" {{checked system.properties.finesse}}> {{localize "COF.properties.finesse"}}</label>
        <label class="checkbox"><input type="checkbox" name="system.properties.sneak" {{checked system.properties.sneak}}> {{localize "COF.properties.sneak"}}</label>
        <label class="checkbox"><input type="checkbox" name="system.properties.powerful" {{checked system.properties.powerful}}> {{localize "COF.properties.powerful"}}</label>
        <label class="checkbox"><input type="checkbox" name="system.properties.critscience" {{checked system.properties.critscience}}> {{localize "COF.properties.critscience"}}</label>
        <label class="checkbox"><input type="checkbox" name="system.properties.specialization" {{checked system.properties.specialization}}> {{localize "COF.properties.specialization"}}</label>
    </div>
</div>
