{{#if (isEnabled "useRecovery")}}
    <div class="row flexrow table-header green no-wrap">
        <div class="flex2 center">
            <div class="field-label ellipsis">{{ localize 'COF.attributes.recovery.label' }}</div>
        </div>
        <div class="flex1 center">
            <div class="field-label">{{ localize 'COF.ui.base' }}</div>
        </div>
        <div class="flex1 center">
            <div class="field-label">{{ localize 'COF.ui.bonus' }}</div>
        </div>
        <div class="flex1 center">
            <div class="field-label">{{ localize 'COF.ui.value' }}</div>
        </div>
    </div>
    <div class="row flexrow no-wrap">
        <div class="flex2 center bg-green">
            <span class="field-label ellipsis"><i class="fas fa-heartbeat"></i>&nbsp;{{ localize 'COF.attributes.rp.abbrev' }}</span>
        </div>
        <div class="flex1 center cell">
            <input class="field-value" name="data.attributes.rp.base" type="text" value="{{actor.data.attributes.rp.base}}" placeholder="Base" data-dtype="Number"/>
        </div>
        <div class="flex1 center cell">
            <input class="field-value" name="data.attributes.rp.bonus" type="text" value="{{actor.data.attributes.rp.bonus}}" placeholder="Bonus" data-dtype="Number"/>
        </div>
        <div class="flex1 center cell">
            <input class="field-value" name="data.attributes.rp.value" type="text" value="{{actor.data.attributes.rp.value}}" placeholder="Value" data-dtype="Number"/>
        </div>
    </div>
{{/if}}