<div class="row flexrow">
    <div class="flex1 center field-header">
        <span class="field-label label-text">{{localize "COF.ui.defBase"}}</span>
    </div>
    <div class="flex1">
        <span class="field-label">
            {{#if (isNull item.data.defBase)}}
                <input class="field-value" name="data.defBase" type="text" value="" placeholder="{{localize "COF.ui.defBase"}}" data-dtype="Number">
            {{else}}
                <input class="field-value" name="data.defBase" type="text" value="{{numberFormat item.data.defBase decimals=0 sign=true}}" placeholder="{{localize "COF.ui.defBase"}}" data-dtype="Number">
            {{/if}}
        </span>
    </div>
</div>
<div class="row flexrow">
    <div class="flex1 center field-header">
        <span class="field-label label-text">{{localize "COF.ui.defBonus"}}</span>
    </div>
    <div class="flex1">
        <span class="field-label">
            {{#if (isNull item.data.defBonus)}}
                <input class="field-value" name="data.defBonus" type="text" value="" placeholder="{{localize "COF.ui.defBonus"}}" data-dtype="Number">
            {{else}}
                <input class="field-value" name="data.defBonus" type="text" value="{{numberFormat item.data.defBonus decimals=0 sign=true}}" placeholder="{{localize "COF.ui.defBonus"}}" data-dtype="Number">
            {{/if}}
        </span>
    </div>
</div>
