<div class="row flexrow">
    <div class="flex1 layout">
        <div class="row flexrow table-header red">
            <div class="flex3">
                <div class="field-label">ARMES A DISTANCE</div>
            </div>
            <div class="flex1 center">
                <div class="field-label">Portée(m)</div>
            </div>
            <div class="flex1 center">
                <div class="field-label">Usage</div>
            </div>
            <div class="flex1 center">
                <div class="field-label">Crit</div>
            </div>
            <div class="flex1 center">
                <div class="field-label">Mod.</div>
            </div>
            <div class="flex1 center">
                <div class="field-label">Dégâts</div>
            </div>
            <div class="flex1 center">
                <div class="field-label">Actions</div>
            </div>
        </div>
        <ol class="item-list">
            {{#if (isEmpty (getWornRangedWeapons actor.items))}}
            <li class="flexrow item">
                <div class="flex1 left">
                    <span class="empty">Aucune arme à distance équipée pour le moment</span>
                </div>
            </li>
            {{/if}}
            {{#each (getWornRangedWeapons actor.items) as |item id|}}
            <li class="flexrow item" data-item-id="{{item._id}}">
                <div class="flex3 left">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>&nbsp;<span class="item-name">{{item.name}}</span>
                </div>
                <div class="flex1 center">
                    <span class="field-value">{{item.data.range}}</span>
                </div>
                <div class="flex1 center">
                    {{#if (is2H item)}}
                    <i class="fas fa-hand-paper"></i><i class="fas fa-hand-paper"></i>
                    {{else}}
                    <i class="fas fa-hand-paper"></i>
                    {{/if}}
                </div>
                <div class="flex1 center cell">
                    <span class="field-value">{{item.data.critrange}}</span>
                </div>
                <div class="flex1 center cell">
                    <span class="field-value">{{item.data.mod}}</span>
                </div>
                <div class="flex1 center cell">
                    <span class="field-value">{{item.data.dmg}}</span>
                </div>
                <div class="flex1 center">
                    <div class="rollable" data-roll-type="weapon"><i class="fas fa-dice-d20"></i></div>
                    &nbsp;
                    <div class="rollable" data-roll-type="damage"><i class="fas fa-dice"></i></div>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
</div>