{{#if (notEmpty (getWornItems actor.items))}}

    <ol class="inventory-list">
        <li class="inventory-header flexrow">
            <h3 class="item-name flexrow">Armes de contact</h3>
            <div class="item-detail">Usage</div>
            <div class="item-detail">Crit</div>
            <div class="item-detail">Mod</div>
            <div class="item-detail">DM</div>
            <div class="item-controls"></div>
        </li>
        {{#each (getWornMeleeWeapons actor.items) as |item id|}}
            <ol class="item-list">
                <li class="item flexrow" data-item-id="{{item._id}}" data-item-type="capacity" draggable="true">
                    <div class="item-name flexrow rollable" data-roll-type="weapon">
                        <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                        <h4>{{item.name}}</h4>
                    </div>
                    <div class="item-detail">
                        {{#if (is2H item)}}
                            <i class="fas fa-hand-paper"></i><i class="fas fa-hand-paper"></i>
                        {{else}}
                            <i class="fas fa-hand-paper"></i>
                        {{/if}}
                    </div>
                    <div class="item-detail">{{item.data.critrange}}</div>
                    <div class="item-detail">{{item.data.mod}}</div>
                    <div class="item-detail">{{item.data.dmg}}</div>
                    <div class="item-controls">
                        <a class="item-control rollable" data-roll-type="weapon"><i class="fas fa-dice-d20"></i></a>
                        <a class="item-control rollable" data-roll-type="damage"><i class="fas fa-dice"></i></a>
                    </div>
                </li>
            </ol>
        {{/each}}
        <li class="inventory-header flexrow">
            <h3 class="item-name flexrow">Armes à distance</h3>
            <div class="item-detail">Portée(m)</div>
            <div class="item-detail">Usage</div>
            <div class="item-detail">Crit</div>
            <div class="item-detail">Mod</div>
            <div class="item-detail">DM</div>
            <div class="item-controls"></div>
        </li>
        {{#each (getWornRangedWeapons actor.items) as |item id|}}
            <ol class="item-list">
                <li class="item flexrow" data-item-id="{{item._id}}" data-item-type="capacity" draggable="true">
                    <div class="item-name flexrow rollable" data-roll-type="weapon">
                        <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                        <h4>{{item.name}}</h4>
                    </div>
                    <div class="item-detail">{{item.data.range}}</div>
                    <div class="item-detail">
                        {{#if (is2H item)}}
                            <i class="fas fa-hand-paper"></i><i class="fas fa-hand-paper"></i>
                        {{else}}
                            <i class="fas fa-hand-paper"></i>
                        {{/if}}
                    </div>
                    <div class="item-detail">{{item.data.critrange}}</div>
                    <div class="item-detail">{{item.data.mod}}</div>
                    <div class="item-detail">{{item.data.dmg}}</div>
                    <div class="item-controls">
                        <a class="item-control rollable" data-roll-type="weapon"><i class="fas fa-dice-d20"></i></a>
                        <a class="item-control rollable" data-roll-type="damage"><i class="fas fa-dice"></i></a>
                    </div>
                </li>
            </ol>
        {{/each}}
        <li class="inventory-header flexrow">
            <h3 class="item-name flexrow">Sorts</h3>
            <div class="item-detail">Def</div>
            <div class="item-detail">Portée(m)</div>
            <div class="item-detail">Usage</div>
            <div class="item-detail">Crit</div>
            <div class="item-detail">Mod</div>
            <div class="item-detail">DM</div>
            <div class="item-controls">
                <a class="item-control item-create compendium-pack" data-pack="cof.spells" data-open="0" title="Ajouter un sort"><i class="fas fa-plus"></i>&nbsp; Add</a>
            </div>
        </li>
        {{#each (getSpells actor.items) as |item id|}}
            <ol class="item-list">
                <li class="item flexrow" data-item-id="{{item._id}}" data-item-type="capacity" draggable="true">
                    <div class="item-name flexrow rollable" data-roll-type="weapon">
                        <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                        <h4>{{item.name}}</h4>
                    </div>
                    <div class="item-detail">{{numberFormat item.data.def decimals=0 sign=true}}</div>
                    <div class="item-detail">{{item.data.range}}</div>
                    <div class="item-detail">
                        {{#if (is2H item)}}
                            <i class="fas fa-hand-paper"></i><i class="fas fa-hand-paper"></i>
                        {{else}}
                            <i class="fas fa-hand-paper"></i>
                        {{/if}}
                    </div>
                    <div class="item-detail">{{item.data.critrange}}</div>
                    <div class="item-detail">{{item.data.mod}}</div>
                    <div class="item-detail">{{item.data.dmg}}</div>
                    <div class="item-controls">
                        <a class="item-control rollable" data-roll-type="weapon"><i class="fas fa-dice-d20"></i></a>
                        <a class="item-control rollable" data-roll-type="damage"><i class="fas fa-dice"></i></a>
                    </div>
                </li>
            </ol>
        {{/each}}
        <li class="inventory-header flexrow">
            <h3 class="item-name flexrow">Boucliers</h3>
            <div class="item-detail">Def</div>
            <div class="item-detail"></div>
            <div class="item-detail">Usage</div>
            <div class="item-detail">Crit</div>
            <div class="item-detail">Mod</div>
            <div class="item-detail">DM</div>
            <div class="item-controls"></div>
        </li>
        {{#each (getWornShields actor.items) as |item id|}}
            <ol class="item-list">
                <li class="item flexrow" data-item-id="{{item._id}}" data-item-type="capacity" draggable="true">
                    <div class="item-name flexrow rollable" data-roll-type="weapon">
                        <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                        <h4>{{item.name}}</h4>
                    </div>
                    <div class="item-detail">{{numberFormat item.data.def decimals=0 sign=true}}</div>
                    <div class="item-detail"></div>
                    <div class="item-detail">
                        {{#if (is2H item)}}
                            <i class="fas fa-hand-paper"></i><i class="fas fa-hand-paper"></i>
                        {{else}}
                            <i class="fas fa-hand-paper"></i>
                        {{/if}}
                    </div>
                    <div class="item-detail">{{item.data.critrange}}</div>
                    <div class="item-detail">{{item.data.mod}}</div>
                    <div class="item-detail">{{item.data.dmg}}</div>
                    <div class="item-controls">
                        <a class="item-control rollable" data-roll-type="weapon"><i class="fas fa-dice-d20"></i></a>
                        <a class="item-control rollable" data-roll-type="damage"><i class="fas fa-dice"></i></a>
                    </div>
                </li>
            </ol>
        {{/each}}
        <li class="inventory-header flexrow">
            <h3 class="item-name flexrow">Armures</h3>
            <div class="item-detail">Def</div>
            <div class="item-detail"></div>
            <div class="item-detail"></div>
            <div class="item-detail"></div>
            <div class="item-detail"></div>
            <div class="item-detail"></div>
            <div class="item-controls"></div>
        </li>
        {{#each (getWornArmors actor.items) as |item id|}}
            <ol class="item-list">
                <li class="item flexrow" data-item-id="{{item._id}}" data-item-type="capacity" draggable="true">
                    <div class="item-name flexrow">
                        <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                        <h4>{{item.name}}</h4>
                    </div>
                    <div class="item-detail">
                        {{numberFormat item.data.def decimals=0 sign=true}}
                    </div>
                    <div class="item-detail"></div>
                    <div class="item-detail"></div>
                    <div class="item-detail"></div>
                    <div class="item-detail"></div>
                    <div class="item-detail"></div>
                    <div class="item-controls">
                        <!--                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>-->
                    </div>
                </li>
            </ol>
        {{/each}}
    </ol>

{{else}}
    <p class="empty">Aucun objet équipé pour le moment.</p>
{{/if}}