<li class="item effect flexrow" data-item-id="{{id}}" data-item-type="effect" draggable="true">
    <div class="item-name flexrow">
        <div class="item-image effect-img" style="background-image: url('{{img}}')"></div>
        <h4>{{name}}</h4>
    </div>
    <div class="item-detail">
        {{#if duration.rounds}}{{duration.rounds}} R{{/if}}
        {{#if duration.turns}}{{duration.turns}} T{{/if}}
        {{#if duration.seconds}}{{duration.seconds}} S{{/if}}
        {{#if isTemporary}}(T)){{/if}}
    </div>
    {{#if @root.isEffectsEditable}}
        <div class="item-detail">
        {{#if disabled}}
            <a class="item-control effect-toggle" title="{{localize "COF.effect.activate"}}" style="color:lightgray;"><i class="fas fa-toggle-off"></i></a>
        {{else}}
            <a class="item-control effect-toggle" title="{{localize "COF.effect.deactivate"}}"><i class="fas fa-toggle-on"></i></a>
        {{/if}}
        </div>
        <div class="item-controls">
            <a class="item-control effect-edit" title="{{localize "COF.effect.edit"}}"><i class="fas fa-edit"></i></a>
            <a class="item-control effect-delete" title="{{localize "COF.effect.delete"}}"><i class="fas fa-trash"></i></a>
        </div>
    {{/if}}
</li>