<div class="row flexrow top">
    <div class="flex1" style="margin-right: 5px;">
        <!-- NAME -->
        <div class="row flexrow">
            <div class="flex1 center bg-darkgreen">
                <span class="field-label">{{ localize 'COF.details.name' }}</span>
            </div>
            <div class="flex2 center cell">
                <input class="field-value sans" name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'COF.details.name' }}" data-dtype="String"/>
            </div>
        </div>
        <!-- /NAME -->
        <!-- NC -->
        <div class="row flexrow">
            <div class="flex1 center bg-darkgreen">
                <span class="field-label">{{ localize 'COF.attributes.nc.abbrev' }}</span>
            </div>
            <div class="flex2 center cell">
                <input class="field-value" name="data.nc.value" type="text" value="{{actor.data.nc.value}}" placeholder="{{ localize 'COF.attributes.nc.label' }}" data-dtype="Number"/>
            </div>
        </div>
        <!-- /NC -->
        <!-- SIZE -->
        <div class="row flexrow">
            <div class="flex1 center bg-darkgreen">
                <span class="field-label">{{ localize 'COF.details.size' }}</span>
            </div>
            <div class="flex2 center cell">
                <select name="data.details.size" data-type="String" style="width:100%">
                    {{#select data.details.size}}
                        <option value="">{{localize "COF.None"}}</option>
                        <option value="tiny">Minuscule</option>
                        <option value="small">Très petite</option>
                        <option value="short">Petite</option>
                        <option value="med">Moyenne</option>
                        <option value="big">Grande</option>
                        <option value="huge">Énorme</option>
                        <option value="colossal">Colossale</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <!-- /SIZE -->
    </div>
    <div class="flex1">
        <!-- ARCHETYPE -->
        <div class="row flexrow">
            <div class="flex1 center bg-darkgreen">
                <span class="field-label">{{ localize 'COF.ui.archetype' }}</span>
            </div>
            <div class="flex2 center cell">
                <select name="data.archetype" data-type="String" style="width:100%">
                    {{#select data.archetype}}
                        <option value="">{{localize "COF.None"}}</option>
                        <option value="standard">Standard</option>
                        <option value="rapide">Rapide</option>
                        <option value="puissant">Puissant</option>
                        <option value="inférieur">Inférieur</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <!-- /ARCHETYPE -->
        <!-- CATEGORY -->
        <div class="row flexrow">
            <div class="flex1 center bg-darkgreen">
                <span class="field-label">{{ localize 'COF.ui.category' }}</span>
            </div>
            <div class="flex2 center cell">
                <select name="data.category" data-type="String" style="width:100%">
                    {{#select data.category}}
                        <option value="">{{localize "COF.None"}}</option>
                        <option value="vivante">Vivante</option>
                        <option value="humanoïde">Humanoïde</option>
                        <option value="non-vivante">Non-vivante</option>
                    {{/select}}
                </select>

            </div>
        </div>
        <!-- /CATEGORY -->
        <!-- BOSS RANK -->
        <div class="row flexrow">
            <div class="flex1 center bg-darkgreen">
                <span class="field-label">{{ localize 'COF.ui.boss' }}</span>
            </div>
            <div class="flex1 center cell">
                <input class="field-value sans" name="data.boss.rank" type="text" value="{{actor.data.boss.rank}}" placeholder="{{ localize 'COF.ui.rank' }}" data-dtype="String"/>
            </div>
            <div class="flex1 center cell">
                <select name="data.boss.type" data-type="String" style="width:100%">
                    {{#select data.boss.type}}
                        <option value="">{{localize "COF.None"}}</option>
                        <option value="standard">Standard</option>
                        <option value="rapide">Rapide</option>
                        <option value="puissant">Puissant</option>
                        <option value="inférieur">Inférieur</option>
                    {{/select}}
                </select>

            </div>
        </div>
        <!-- /BOSS RANK -->
    </div>
</div>
