{{#if (gt combat.count 0)}}
    {{#each combat.categories as |category id|}}
        {{#if (gt category.items.length 0)}}
            <ol class="inventory-list foldable">
                <li class="inventory-header flexrow">
                    <h3 class="item-name flexrow">{{localize category.label}}</h3>
                    <div class="item-detail">Def</div>
                    <div class="item-detail">Portée(m)</div>
                    <div class="item-detail">Usage</div>
                    <div class="item-detail">Crit</div>
                    <div class="item-detail">Mod</div>
                    <div class="item-detail">DM</div>
                    <div class="item-controls"></div>
                </li>
                {{#each category.items as |item id|}}
                    {{> "systems/cof/templates/actors/character/parts/combat/character-combat-spell.hbs" item}}
                {{/each}}
            </ol>

<!--            {{!#if (equals category.id "armor")}}-->
<!--                <ol class="inventory-list">-->
<!--                    <li class="inventory-header flexrow">-->
<!--                        <h3 class="item-name flexrow">{{localize category.label}}</h3>-->
<!--                        <div class="item-detail">Def</div>-->
<!--                        <div class="item-detail"></div>-->
<!--                        <div class="item-detail"></div>-->
<!--                        <div class="item-detail"></div>-->
<!--                        <div class="item-detail"></div>-->
<!--                        <div class="item-controls"></div>-->
<!--                    </li>-->
<!--                    {{#each category.items as |item id|}}-->
<!--                        {{!> "systems/cof/templates/actors/character/parts/combat/character-combat-armor.hbs" item}}-->
<!--                    {{/each}}-->
<!--                </ol>-->
<!--            {{!/if}}-->
<!--            {{!#if (equals category.id "shield")}}-->
<!--                <ol class="inventory-list">-->
<!--                    <li class="inventory-header flexrow">-->
<!--                        <h3 class="item-name flexrow">{{localize category.label}}</h3>-->
<!--                        <div class="item-detail">Def</div>-->
<!--                        <div class="item-detail">Usage</div>-->
<!--                        <div class="item-detail">Crit</div>-->
<!--                        <div class="item-detail">Mod</div>-->
<!--                        <div class="item-detail">DM</div>-->
<!--                        <div class="item-controls"></div>-->
<!--                    </li>-->
<!--                    {{#each category.items as |item id|}}-->
<!--                        {{!> "systems/cof/templates/actors/character/parts/combat/character-combat-shield.hbs" item}}-->
<!--                    {{/each}}-->
<!--                </ol>-->
<!--            {{!/if}}-->
<!--            {{!#if (equals category.id "melee")}}-->
<!--                <ol class="inventory-list">-->
<!--                    <li class="inventory-header flexrow">-->
<!--                        <h3 class="item-name flexrow">{{localize category.label}}</h3>-->
<!--                        <div class="item-detail">Usage</div>-->
<!--                        <div class="item-detail">Crit</div>-->
<!--                        <div class="item-detail">Mod</div>-->
<!--                        <div class="item-detail">DM</div>-->
<!--                        <div class="item-controls"></div>-->
<!--                    </li>-->
<!--                    {{#each category.items as |item id|}}-->
<!--                        {{!> "systems/cof/templates/actors/character/parts/combat/character-combat-melee.hbs" item}}-->
<!--                    {{/each}}-->
<!--                </ol>-->
<!--            {{!/if}}-->
<!--            {{!#if (equals category.id "ranged")}}-->
<!--                <ol class="inventory-list">-->
<!--                    <li class="inventory-header flexrow">-->
<!--                        <h3 class="item-name flexrow">{{localize category.label}}</h3>-->
<!--                        <div class="item-detail">Portée(m)</div>-->
<!--                        <div class="item-detail">Usage</div>-->
<!--                        <div class="item-detail">Crit</div>-->
<!--                        <div class="item-detail">Mod</div>-->
<!--                        <div class="item-detail">DM</div>-->
<!--                        <div class="item-controls"></div>-->
<!--                    </li>-->
<!--                    {{#each category.items as |item id|}}-->
<!--                        {{!> "systems/cof/templates/actors/character/parts/combat/character-combat-ranged.hbs" item}}-->
<!--                    {{/each}}-->
<!--                </ol>-->
<!--            {{!/if}}-->
<!--            {{!#if (equals category.id "spell")}}-->
<!--                <ol class="inventory-list">-->
<!--                    <li class="inventory-header flexrow">-->
<!--                        <h3 class="item-name flexrow">{{localize category.label}}</h3>-->
<!--                        <div class="item-detail">Def</div>-->
<!--                        <div class="item-detail">Portée(m)</div>-->
<!--                        <div class="item-detail">Usage</div>-->
<!--                        <div class="item-detail">Crit</div>-->
<!--                        <div class="item-detail">Mod</div>-->
<!--                        <div class="item-detail">DM</div>-->
<!--                        <div class="item-controls"></div>-->
<!--                    </li>-->
<!--                    {{#each category.items as |item id|}}-->
<!--                        {{!> "systems/cof/templates/actors/character/parts/combat/character-combat-spell.hbs" item}}-->
<!--                    {{/each}}-->
<!--                </ol>-->
<!--            {{!/if}}-->
        {{/if}}
    {{/each}}
{{else}}
    <p class="empty">Aucun objet équipé.</p>
{{/if}}