<ol class="item-list">
    <li class="item flexrow" data-item-id="{{_id}}" data-item-type="item" draggable="true">
        <div class="item-name flexrow" data-roll-type="weapon">
            <div class="item-image" style="background-image: url('{{img}}')"></div>
            <h4>{{name}}</h4>
        </div>
        {{#if data.def}}<div class="item-detail">{{numberFormat data.def decimals=0 sign=true}}</div>{{else}}<div class="item-detail"></div>{{/if}}
        <div class="item-detail"></div>
        <div class="item-detail"></div>
        <div class="item-detail"></div>
        <div class="item-detail"></div>
        <div class="item-controls"></div>
    </li>
</ol>
