<div class="row flexrow">
    <div class="flex1 center field-header">
        <span class="field-label label-text">{{localize "COF.ui.dmgBase"}}</span>
    </div>
    <div class="flex1">
        <span class="field-label">
            <input class="field-value" name="data.dmgBase" type="text" value="{{item.data.dmgBase}}" placeholder="{{localize "COF.ui.dmgBase"}}" data-dtype="String">
        </span>
    </div>
</div>
<div class="row flexrow">
    <div class="flex1 center field-header">
        <span class="field-label label-text">{{localize "COF.ui.dmgStat"}}</span>
    </div>
    <div class="flex1">
        <span class="field-label">
            <select name="data.dmgStat" data-type="String" style="width:100%">
                {{#select data.dmgStat}}
                <option value="">{{localize "COF.None"}}</option>
                <option value="@stats.str.mod">{{localize "COF.stats.str.label"}}</option>
                <option value="@stats.dex.mod">{{localize "COF.stats.dex.label"}}</option>
                <option value="@stats.con.mod">{{localize "COF.stats.con.label"}}</option>
                <option value="@stats.int.mod">{{localize "COF.stats.int.label"}}</option>
                <option value="@stats.wis.mod">{{localize "COF.stats.wis.label"}}</option>
                <option value="@stats.cha.mod">{{localize "COF.stats.cha.label"}}</option>
                {{/select}}
            </select>
        </span>
    </div>
</div>
<div class="row flexrow">
    <div class="flex1 center field-header">
        <span class="field-label label-text">{{localize "COF.ui.dmgBonus"}}</span>
    </div>
    <div class="flex1">
        <span class="field-label">
            <input class="field-value" name="data.dmgBonus" type="text" value="{{numberFormat item.data.dmgBonus decimals=0 sign=true}}" placeholder="{{localize "COF.ui.dmgBonus"}}" data-dtype="Number">
        </span>
    </div>
</div>
<div class="row flexrow">
    <div class="flex1 center field-header">
        <span class="field-label label-text">{{localize "COF.ui.skill"}}</span>
    </div>
    <div class="flex1">
        <span class="field-label">
            <select name="data.skill" data-type="String" style="width:100%">
                {{#select data.skill}}
                <option value="@attacks.melee.mod">{{localize "COF.attacks.melee.label"}}</option>
                <option value="@attacks.ranged.mod">{{localize "COF.attacks.ranged.label"}}</option>
                <option value="@attacks.magic.mod">{{localize "COF.attacks.magic.label"}}</option>
                {{/select}}
            </select>
        </span>
    </div>
</div>
<div class="row flexrow">
    <div class="flex1 center field-header">
        <span class="field-label label-text">{{localize "COF.ui.skillBonus"}}</span>
    </div>
    <div class="flex1">
        <span class="field-label">
            <input class="field-value" name="data.skillBonus" type="text" value="{{numberFormat item.data.skillBonus decimals=0 sign=true}}" placeholder="{{localize "COF.ui.skillBonus"}}" data-dtype="Number">
        </span>
    </div>
</div>
<div class="row flexrow">
    <div class="flex1 center field-header">
        <span class="field-label label-text">{{localize "COF.ui.critrange"}}</span>
    </div>
    <div class="flex1">
        <span class="field-label">
            <input class="field-value" name="data.critrange" type="text" value="{{item.data.critrange}}" placeholder="{{localize "COF.ui.critrange"}}" data-dtype="String">
        </span>
    </div>
</div>
<div class="row flexrow">
    <div class="flex1 center field-header">
        <span class="field-label label-text">{{localize "COF.ui.usage"}}</span>
    </div>
    <div class="flex1">
        <span class="field-label">
            <select name="data.hands" data-type="Number" style="width:100%">
                {{#select data.hands}}
                <option value="0">{{localize "COF.None"}}</option>
                <option value="1">{{localize "COF.ui.1H"}}</option>
                <option value="2">{{localize "COF.ui.2H"}}</option>
                {{/select}}
            </select>
        </span>
    </div>
</div>
