<div class="flexrow table-header red no-wrap">
    <div class="flex2 center">
        <div class="field-label ellipsis">{{ localize 'COF.ui.combat' }}</div>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'COF.ui.base' }}</div>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'COF.ui.bonus' }}</div>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'COF.ui.malus' }}</div>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'COF.ui.total' }}</div>
    </div>
</div>
<div class="flexrow no-wrap">
    <div class="flex2 center bg-red">
        <span class="field-label ellipsis"><i class="fas fa-bolt"></i>&nbsp;{{ localize 'COF.attributes.init.label' }}</span>
    </div>
    <div class="flex1 center cell readonly">
        <input class="field-value" name="system.attributes.init.base" readonly="true" type="text" value="{{actor.system.attributes.init.base}}" placeholder="{{ localize 'COF.attributes.base.abbrev' }}" data-dtype="Number"/>
    </div>
    <div class="flex1 center cell">
        <input class="field-value" name="system.attributes.init.bonus" type="text" value="{{numberFormat actor.system.attributes.init.bonus decimals=0 sign=true}}" placeholder="{{ localize 'COF.ui.bonus' }}" data-dtype="Number"/>
    </div>
    <div class="flex1 center cell readonly">
        <input class="field-value" name="system.attributes.init.malus" readonly="true" type="text" value="{{numberFormat actor.system.attributes.init.malus decimals=0 sign=true}}" placeholder="{{ localize 'COF.ui.malus' }}" data-dtype="Number"/>
    </div>
    <div class="flex1 center cell readonly">
        <input class="field-value" name="system.attributes.init.value" readonly="true" type="text" value="{{actor.system.attributes.init.value}}" placeholder="{{ localize 'COF.attributes.value.abbrev' }}" data-dtype="Number"/>
    </div>
</div>
