<div class="flexrow table-header green no-wrap">
    <div class="flex2 center rollable" data-rolling="system.attributes.hp" data-roll-type="hp">
        <div class="field-label"><i class="fas fa-dice-d6"></i>&nbsp;{{ localize 'COF.attributes.vitality.label' }}</div>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'COF.ui.hd' }}</div>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'COF.ui.base' }}</div>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'COF.ui.bonus' }}</div>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'COF.ui.max' }}</div>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'COF.ui.current' }}</div>
    </div>    
</div>
<div class="flexrow no-wrap">
    <div class="flex2 center bg-green">
        <span class="field-label"><i class="fas fa-heart"></i>&nbsp;{{ localize 'COF.attributes.hp.abbrev' }}</span>
    </div>
    <div class="center cell readonly" style="flex:0 1 60px">
        <select name="system.attributes.hd.value" data-type="String" style="font-size:12px; width:100%">
            {{selectOptions diceValues selected=actor.system.attributes.hd.value blank="COF.None" localize=true}}
        </select> 
    </div>
    <div class="flex1 center cell">
        <input class="field-value" name="system.attributes.hp.base" type="text" value="{{actor.system.attributes.hp.base}}" placeholder="{{localize "COF.ui.base"}}" data-dtype="Number"/>
    </div>
    <div class="flex1 center cell">
        <input class="field-value" name="system.attributes.hp.bonus" type="text" value="{{numberFormat actor.system.attributes.hp.bonus decimals=0 sign=true}}" placeholder="{{localize "COF.ui.bonus"}}" data-dtype="Number"/>
    </div>
    <div class="flex1 center cell readonly">
        <input class="field-value" name="system.attributes.hp.max" type="text" readonly="true" value="{{actor.system.attributes.hp.max}}" placeholder="Max" data-dtype="Number"/>
    </div>
    <div class="flex1 center cell">
        <input class="field-value" name="system.attributes.hp.value" type="text" value="{{actor.system.attributes.hp.value}}" placeholder="{{localize "COF.ui.value"}}" data-dtype="Number"/>
    </div>    
</div>