<div class="flexrow table-header color-resource no-wrap">
    <div class="flex8 center color-resource">
        <div class="field-label ellipsis">{{ localize 'COF.attributes.resources.label' }}</div>
    </div>
    <div class="flex3 center color-resource">
        <div class="field-label">{{ localize 'COF.ui.base' }}</div>
    </div>
    <div class="flex3 center color-resource">
        <div class="field-label">{{ localize 'COF.ui.bonus' }}</div>
    </div>
    <div class="flex3 center color-resource">
        <div class="field-label">{{ localize 'COF.ui.max' }}</div>
    </div>
    <div class="flex3 center color-resource">
        <div class="field-label">{{ localize 'COF.ui.current' }}</div>
    </div>
</div>
{{#if (isEnabled "useMana")}}
<div class="flexrow no-wrap">
    <div class="flex8 center bg-resource">
        <span class="field-label ellipsis"><i class="fas fa-hand-sparkles"></i>&nbsp;{{ localize 'COF.attributes.mp.abbrev' }}</span>
    </div>
    <div class="flex3 center cell readonly">
        <input class="field-value" name="system.attributes.mp.base" type="text" readonly="true" value="{{actor.system.attributes.mp.base}}" data-dtype="Number"/>
    </div>
    <div class="flex3 center cell">
        <input class="field-value" name="system.attributes.mp.bonus" type="text" value="{{numberFormat actor.system.attributes.mp.bonus decimals=0 sign=true}}" data-dtype="Number"/>
    </div>
    <div class="flex3 center cell readonly">
        <input class="field-value" name="system.attributes.mp.max" type="text" readonly="true" value="{{actor.system.attributes.mp.max}}" data-dtype="Number"/>
    </div>
    <div class="flex3 center cell">
        <input class="field-value" name="system.attributes.mp.value" type="text" value="{{actor.system.attributes.mp.value}}" data-dtype="Number"/>
    </div>    
</div>
{{/if}}
{{#if (isEnabled "useFortune")}}
<div class="flexrow no-wrap">
    <div class="flex8 center bg-resource">
        <span class="field-label ellipsis"><i class="fas fa-star"></i>&nbsp;{{ localize 'COF.attributes.fp.abbrev' }}</span>
    </div>
    <div class="flex3 center cell readonly">
        <input class="field-value" name="system.attributes.fp.base" readonly="true" type="text" value="{{actor.system.attributes.fp.base}}" data-dtype="Number"/>
    </div>
    <div class="flex3 center cell">
        <input class="field-value" name="system.attributes.fp.bonus" type="text" value="{{numberFormat actor.system.attributes.fp.bonus decimals=0 sign=true}}" data-dtype="Number"/>
    </div>
    <div class="flex3 center cell readonly">
        <input class="field-value" name="system.attributes.fp.max" type="text" readonly="true" value="{{actor.system.attributes.fp.max}}" data-dtype="Number"/>
    </div>
    <div class="flex3 center cell">
        <input class="field-value" name="system.attributes.fp.value" type="text" value="{{actor.system.attributes.fp.value}}" data-dtype="Number"/>
    </div>    
</div>
{{/if}}