<div class="row flexrow" style="margin-bottom: 1px;">
    <div class="flex1 center bg-red">
        <span class="field-label">{{localize "COF.ui.formula"}}</span>
    </div>
    <div class="flex1 center cell">
        <input class="field-value readonly" id="dmgFormula" name="dmgFormula" type="text" readonly="true" value="{{dmgFormula}}" data-dtype="String" style="border:none;border-radius:0px;"/>
    </div>
</div>
<div class="row flexrow" style="margin-bottom: 1px;">
    <div class="flex1 center bg-red">
        <span class="field-label">{{localize "COF.ui.bonusMalus"}}</span>
    </div>
    <div class="flex1 center cell">
        <input class="field-value" id="dmgBonus" name="dmgBonus" type="text" value="{{dmgBonus}}" data-dtype="String" style="border:none;border-radius:0px;"/>
    </div>
</div>
<div class="row flexrow" style="margin-bottom: 10px;">
    <div class="flex1 center bg-red">
        <span class="field-label">{{localize "COF.ui.customFormula"}}</span>
    </div>
    <div class="flex1 center cell">
        <input class="field-value" id="dmgCustomFormula" name="dmgCustomFormula" type="text" value="{{dmgCustomFormula}}" data-dtype="String" style="border:none;border-radius:0px;"/>
    </div>
</div>
