{{#if isCritical}}
<h2 class="heal"><i class="fas fa-first-aid"></i>&nbsp;{{localize "COF.roll.criticalHeal"}} !</h2>
{{else}}
<h2 class="heal"><i class="fas fa-first-aid"></i>&nbsp;{{localize "COF.roll.heal"}}</h2>
{{/if}}
<div class="flexrow">
    <div class="flex1 no-wrap">
        <h3><strong>{{label}}</strong></h3>
    </div>
    <div class="flex1 right no-wrap">
        <a class="btn apply-dmg" data-apply="full">
            <i class="fas fa-user-minus" title="{{localize "COF.ui.applyDamage"}}"></i>
        </a>
        <a class="btn apply-dmg" data-apply="heal">
            <i class="fas fa-user-plus" title="{{localize "COF.ui.applyHealing"}}"></i>
        </a>
    </div>
</div>