<h2 class="heal"><i class="fas fa-first-aid"></i>&nbsp;{{title}}{{#if isCritical}} !{{/if}}</h2>
<div class="flexrow">
    <div class="flex1 no-wrap">
        <h3><strong>{{label}}</strong></h3>
    </div>
    {{#if showButtons}}
        <div class="flex1 right no-wrap">
            <a class="btn apply-dmg" data-apply="full">
                <i class="fas fa-user-minus" title="{{localize "COF.ui.applyDamage"}}"></i>
            </a>
            <a class="btn apply-dmg" data-apply="heal">
                <i class="fas fa-user-plus" title="{{localize "COF.ui.applyHealing"}}"></i>
            </a>
        </div>
    {{/if}}
</div>
{{#if hasDescription}}
    <h4>
        <pre class="rollDescr-line">{{{description}}}</pre>
    </h4>
{{/if}}  