<form autocomplete="off" onsubmit="event.preventDefault();">
    <div class="row flexrow table-header color-default">
        <div class="flex1 center">
            <h3>{{localize "COF.dialog.rollAttributes.title"}}</h3>
        </div>
    </div>
    <div style="padding:10px;">
        <div class="flexrow table-header color-default no-wrap">
            <div class="flex1 center">
                <div class="field-label">{{ localize 'COF.stats.abbrev' }}</div>
            </div>
            <div class="flex1 center">
                <div class="field-label">{{ localize 'COF.ui.base' }}</div>
            </div>
            <div class="flex1 center">
                <div class="field-label">{{ localize 'COF.ui.mod' }}</div>
            </div>
        </div>
        {{#each stats as |stat id|}}
            <div id="{{stat.key}}" class="stat flexrow no-wrap" data-key="{{stat.key}}">
                <div class="flex1 center bg-default">
                    <div class="field-label no-wrap" title="{{ localize stat.label }}">{{ localize stat.abbrev }}</div>
                </div>
                <div class="flex1 center cell">
                    <input class="field-value base" name="system.stats.{{id}}.base" type="text" value="{{stat.base}}" data-attr="base" data-dtype="Number"/>
                </div>
                <div class="flex1 center cell">
                    <input class="field-value mod" name="system.stats.{{id}}.mod" type="text" value="{{stat.mod}}" data-attr="mod" data-dtype="Number"/>
                </div>
            </div>
        {{/each}}

        <hr/>

        <div id="spent" class="row flexrow" style="margin-bottom: 5px;">
            <div class="flex1 center spent-header bg-darkslate">
                <span class="field-label">{{localize "COF.dialog.rollAttributes.spentPoints"}}</span>
            </div>
            <div class="flex2 center cell">
                <input class="field-value" id="total" readonly="true" name="total" type="text" value="{{total}}" data-dtype="Number"/>
                <span>/</span>
                <input class="field-value" id="max" readonly="true" name="max" type="text" value="{{max}}" data-dtype="Number"/>
            </div>
        </div>
    </div>
    </div>
    <div class="dialog-buttons flexrow">
        <button class="dialog-button cancel" data-button="cancel"><i class="fas fa-times"></i> {{localize "COF.ui.cancel"}}</button> 
        <button class="dialog-button random" data-button="random"><i class="fas fa-dice-d6"></i> {{localize "COF.ui.random"}}</button>
        <button class="dialog-button submit default" data-button="submit"><i class="fas fa-check"></i> {{localize "COF.ui.submit"}}</button>
    </div>
</form>