<form class="{{cssClass}}" autocomplete="off">
    <div class="wrap">
        <div class="flexrow header">
            <div id="banner" class="flex1">
                <div id="banner-right"></div>
            </div>
        </div>
        <div class="flexrow">
            <div class="flex1" id="logo-banner"><img src="/systems/cof/ui/logo-banner.png"/></div>
        </div>
        <div class="flexrow main">
            <div class="sidebar flex1">
                <br/>
                <div class="row flexrow">
                    <div class="flex1 center">
                        <span class="charname">{{split actor.name}}</span>
                    </div>
                </div>
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
                <br/>
                {{#if (isEnabled "developerMode")}}
                <hr/>
                <div class="row flexrow">
                    <div class="flex1 center">
                        <a class="actor-reset red" title="Reset actor"><i class="fas fa-trash"></i>&nbsp;RESET</a>
                    </div>
                </div>
                {{/if}}
            </div>
            <div class="separator flex1"></div>
            <div class="content flex3">
                {{!-- Sheet Tab Navigation --}}
                <nav class="sheet-tabs tabs" data-group="primary">
                    <a class="item" data-tab="stats">{{ localize "COF.tabs.stats" }}</a>
                    <a class="item compendium-pack" data-pack="cof.capacities" data-open="0" data-tab="capacities">{{ localize "COF.tabs.capacities" }}</a>
                    <a class="item compendium-pack" data-pack="cof.items" data-open="0" data-tab="inventory">{{ localize "COF.tabs.inventory" }}</a>
                </nav>
                {{!-- Sheet Body --}}
                <section class="sheet-body">
                    {{!-- Stats Tab --}}
                    <div class="tab stats" data-group="primary" data-tab="stats">
                        {{> "systems/cof/templates/partials/npc-stats.hbs"}}
                    </div>
                    {{!-- Capacitites Tab --}}
                    <div class="tab capacities" data-group="primary" data-tab="capacities">
                        {{> "systems/cof/templates/partials/npc-capacities.hbs"}}
                    </div>
                    {{!-- Inventory Tab --}}
                    <div class="tab inventory" data-group="primary" data-tab="inventory">
                        {{> "systems/cof/templates/partials/actor-inventory.hbs"}}
                    </div>
                </section>
            </div>
        </div>
        <!--        <div class="flexrow footer">-->
        <!--            <div id="banner" class="flex1">-->
        <!--                &lt;!&ndash;                <div id="banner-left"><img src="/systems/cof/ui/logo-banner.png"/></div>&ndash;&gt;-->
        <!--                &lt;!&ndash;                <div id="banner-center"><img src="/systems/cof/ui/logo-banner.png"/></div>&ndash;&gt;-->
        <!--                <div id="banner-right"></div>-->
        <!--                &lt;!&ndash;                <div id="banner-center"><img src="/systems/cof/ui/logo-banner.png"/></div>&ndash;&gt;-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</form>

