<form class="{{cssClass}}" autocomplete="off">
    <div class="wrap">
        <div class="header">
            <div class="flexrow header-background no-wrap">
                <div class="flex1 left">
                    <div id="banner-left"></div>
                </div>
                <div class="flex1 right">
                    <div id="banner-right"></div>
                </div>
            </div>
            <div class="flexrow">
                <div class="flex1 center" id="logo-banner"><img src="/systems/cof/ui/logo-banner.png"/></div>
            </div>
        </div>
        <div class="flexrow main">
            <div class="sidebar flex1">
                <br/>
                <div class="row flexrow">
                    <div class="flex1 center">
                        <span class="charname">{{split actor.name}}</span>
                    </div>
                </div>
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
                <br/>
            </div>
            <div class="separator flex1"></div>
            <div class="content flex3">
                {{> "systems/cof/templates/actors/encounter/parts/encounter-details.hbs"}}
                <div class="row flexrow"><div class="flex1 half-spacer"></div></div>
                {{!-- Sheet Tab Navigation --}}
                <nav class="sheet-tabs tabs" data-group="primary">
                    <a class="item" data-tab="stats">{{ localize "COF.tabs.stats" }}</a>
                    <a class="item" data-tab="combat">{{ localize "COF.tabs.combat" }}</a>
                    <a class="item compendium-pack" data-pack="cof.items" data-open="0" data-tab="inventory">{{ localize "COF.tabs.inventory" }}</a>
                    <a class="item compendium-pack" data-pack="cof.paths" data-open="0" data-tab="capacities">{{ localize "COF.tabs.paths" }} & {{ localize "COF.tabs.capacities" }}</a>
                    <!--                    <a class="item compendium-pack" data-pack="cof.capacities" data-open="0" data-tab="capacities">{{ localize "COF.tabs.capacities" }}</a>-->
                    <a class="item" data-tab="description">{{ localize "COF.tabs.description" }}</a>
                </nav>
                {{!-- Sheet Body --}}
                <section class="sheet-body">
                    {{!-- Stats Tab --}}
                    <div class="tab stats" data-group="primary" data-tab="stats">
                        {{> "systems/cof/templates/actors/encounter/parts/encounter-stats.hbs"}}
                    </div>
                    {{!-- Combat Tab --}}
                    <div class="tab combat" data-group="primary" data-tab="combat">
                        {{> "systems/cof/templates/actors/encounter/parts/encounter-combat.hbs"}}
                    </div>
                    {{!-- Capacitites Tab --}}
                    <div class="tab capacities" data-group="primary" data-tab="capacities">
                        {{> "systems/cof/templates/actors/encounter/parts/encounter-capacities.hbs"}}
                    </div>
                    {{!-- Inventory Tab --}}
                    <div class="tab inventory" data-group="primary" data-tab="inventory">
                        {{> "systems/cof/templates/actors/encounter/parts/encounter-inventory.hbs"}}
                    </div>
                    {{!-- Notes Tab --}}
                    <div class="tab description" data-group="primary" data-tab="description">
                        {{> "systems/cof/templates/actors/encounter/parts/encounter-description.hbs"}}
                    </div>
                </section>
            </div>
        </div>
    </div>
</form>
