<form class="{{cssClass}}" autocomplete="off">
    <div class="wrap">
        {{> "systems/cof/templates/partials/item/item-header.hbs"}}
        <div class="main">
            <div class="row flexrow">
                <div class="flex1 center field-header">
                    <span class="field-label label-text">{{localize "COF.ui.scope"}}</span>
                </div>
                <div class="flex1">
                    <span class="field-label">
                        <select name="data.scope" data-type="String" style="width:100%">
                            {{#select data.scope}}
                            <option value="">{{localize "COF.None"}}</option>
                            <option value="alternative">{{localize "COF.ui.alternative"}}</option>
                            <option value="creature">{{localize "COF.ui.creature"}}</option>
                            <option value="prestige">{{localize "COF.ui.prestige"}}</option>
                            <option value="profile">{{localize "COF.ui.profile"}}</option>
                            <option value="species">{{localize "COF.ui.species"}}</option>
                            {{/select}}
                        </select>
                    </span>
                </div>
            </div>
            {{#if (or (equals data.scope "profile") (equals data.scope "prestige"))}}
            <div class="row flexrow">
                <div class="flex1 center field-header">
                    <span class="field-label label-text">{{localize "COF.ui.profile"}}</span>
                </div>
                <div class="flex1">
                    <span class="field-label">
<!--                            <input class="field-value" name="data.profile" type="text" value="{{!item.data.profile}}" placeholder="{{!localize "COF.ui.profile"}}" data-dtype="String">-->
                        <select name="data.profile" data-type="String" style="width:100%">
                        {{#select data.profile}}
                            <option value="">{{localize "COF.None"}}</option>
                            {{#each (listProfiles) as |profile id|}}
                            <option value="{{profile.data.key}}">{{profile.name}}</option>
                            {{/each}}
                        {{/select}}
                        </select>
                    </span>
                </div>
            </div>
            {{/if}}
            {{#if (or (equals data.scope "prestige") (or (equals data.scope "profile") (equals data.scope "creature")))}}
            <div class="row flexrow">
                <div class="flex1 center field-header">
                    <span class="field-label label-text">{{localize "COF.ui.rank"}}</span>
                </div>
                <div class="flex1">
                <span class="field-label">
                    <input class="field-value" name="data.rank" type="text" value="{{item.data.rank}}" placeholder="{{localize "COF.ui.rank"}}" data-dtype="Number">
                </span>
                </div>
            </div>
            <div class="row flexrow">
                <div class="flex1 center field-header">
                    <span class="field-label label-text">{{localize "COF.ui.path"}}</span>
                </div>
                <div class="flex1">
                    <span class="field-label">
<!--                            <input class="field-value" name="data.path" type="text" value="{{!item.data.path}}" placeholder="{{!localize "COF.ui.path"}}" data-dtype="String">-->
                        <select name="data.path" data-type="String" style="width:100%">
                            {{#select data.path}}
                                <option value="">{{localize "COF.None"}}</option>
                                {{#each (listPaths) as |path id|}}
                                    <option value="{{path.data.key}}">{{path.name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </span>
                </div>
            </div>
            {{/if}}
            {{#if (equals data.scope "species")}}
                <div class="row flexrow">
                    <div class="flex1 center field-header">
                        <span class="field-label label-text">{{localize "COF.ui.species"}}</span>
                    </div>
                    <div class="flex1">
                        <span class="field-label">
<!--                            <input class="field-value" name="data.species" type="text" value="{{!item.data.species}}" placeholder="{{!localize "COF.ui.species"}}" data-dtype="String">-->
                            <select name="data.species" data-type="String" style="width:100%">
                                {{#select data.species}}
                                    <option value="">{{localize "COF.None"}}</option>
                                    {{#each (listSpecies) as |species id|}}
                                        <option value="{{species.data.key}}">{{species.name}}</option>
                                    {{/each}}
                                {{/select}}
                            </select>

                        </span>
                    </div>
                </div>
            {{/if}}
            <div class="row flexrow">
                <div class="flex1 center field-header">
                    <span class="field-label label-text">{{localize "COF.ui.limited"}}</span>
                </div>
                <div class="flex1">
                    <input name="data.limited" type="checkbox" value="{{item.data.limited}}" data-dtype="Boolean" {{checked item.data.limited}}/>
                </div>
            </div>
            <div class="row flexrow">
                <div class="flex1 center field-header">
                    <span class="field-label label-text">{{localize "COF.ui.spell"}}</span>
                </div>
                <div class="flex1">
                    <input name="data.spell" type="checkbox" value="{{item.data.spell}}" data-dtype="Boolean" {{checked item.data.spell}}/>
                </div>
            </div>
            <div class="row flexrow">
                <div class="flex1 center field-header">
                    <span class="field-label label-text">{{localize "COF.ui.summary"}}</span>
                </div>
                <div class="flex1">
                    <span class="field-label">
                        <input class="field-value" name="data.summary" type="text" value="{{item.data.summary}}" placeholder="{{localize "COF.ui.summary"}}" data-dtype="String">
                    </span>
                </div>
            </div>
            <div class="row flexrow">
                <div class="flex1 center field-header">
                    <span class="field-label label-text">{{ localize "COF.ui.key" }}</span>
                </div>
                <div class="flex1">
                    <input class="field-value" name="data.key" type="text" value="{{item.data.key}}" placeholder="{{ localize "COF.ui.key" }}" data-dtype="String">
                </div>
            </div>
            {{> "systems/cof/templates/partials/item/item-description.hbs"}}
        </div>
    </div>
</form>
