<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow header-background no-wrap">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img">
        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Item Name"/>
            </h1>
            <div class="item-subtitle">
                <h4 class="item-type">Weapon</h4>
                <span class="item-status">Not Equipped</span>
            </div>
            <ul class="summary flexrow">
                <li>
                    Martial Melee
                    {{!lookup config.equipmentTypes data.armor.type }}
                </li>
                <li>
                    <input type="text" name="data.rarity" value="{{data.rarity}}" placeholder="{{ localize 'DND5E.Rarity' }}"/>
                </li>
                <li>
                    <input type="text" name="data.source" value="{{data.source}}" placeholder="{{ localize 'DND5E.Source' }}"/>
                </li>
            </ul>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">Description</a>
        <a class="item" data-tab="details">Details</a>
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab flexrow active" data-group="primary" data-tab="description">
            <div class="item-properties">
                    <div class="form-group">
                        <label>{{ localize "COF.ui.quantity" }}</label>&nbsp;
                        <input type="text" name="data.qty" value="{{item.data.qty}}" data-dtype="Number"/>
                    </div>

                    <div class="form-group">
                        <label>{{ localize "COF.ui.weight" }}</label>&nbsp;
                        <input type="text" name="data.weight" value="{{item.data.weight}}" data-dtype="Number"/>
                    </div>

                    <div class="form-group">
                        <label>{{ localize "COF.ui.price" }}</label>&nbsp;
                        <input type="text" name="data.price" value="{{item.data.price}}" data-dtype="Number"/>
                    </div>
                <ol class="properties-list">
                    <li>Versatile</li>
                    <li>Melee Weapon Attack</li>
                    {{!#each itemProperties}}
<!--                        <li>{{!this}}</li>-->
                    {{!/each}}
                </ol>
            </div>
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">Weapon Details</h3>
            <div class="form-group">
                <label>Weapon Type</label>
                <select name="data.weaponType">
                    <option value="simpleM">Simple Melee</option>
                    <option value="simpleR">Simple Ranged</option>
                    <option value="martialM" selected="">Martial Melee</option>
                    <option value="martialR">Martial Ranged</option>
                    <option value="natural">Natural</option>
                    <option value="improv">Improvised</option>
                    <option value="siege">Siege Weapon</option>
                </select>
            </div>
            <div class="form-group stacked">
                <label>Weapon Status</label>
                <div class="form-fields">
                    <label class="checkbox">
                        <input type="checkbox" name="data.proficient"> Proficient
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.equipped"> Equipped
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.identified" checked=""> Identified
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.attuned"> Attuned
                    </label>
                </div>
            </div>
            <div class="form-group stacked weapon-properties">
                <label>Weapon Properties</label>
                <label class="checkbox">
                    <input type="checkbox" name="data.properties.amm"> Ammunition
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.properties.fin"> Finesse
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.properties.fir"> Firearm
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.properties.foc"> Focus
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.properties.hvy"> Heavy
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.properties.lgt"> Light
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.properties.lod"> Loading
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.properties.rch"> Reach
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.properties.rel"> Reload
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.properties.ret"> Returning
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.properties.spc"> Special
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.properties.thr"> Thrown
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.properties.two"> Two-Handed
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.properties.ver" checked=""> Versatile
                </label>
            </div>
            <h3 class="form-header">Weapon Usage</h3>
            <div class="form-group input-select">
                <label>Activation Cost</label>
                <div class="form-fields">
                    <input type="text" name="data.activation.cost" value="1" data-dtype="Number" placeholder="-">
                    <select name="data.activation.type">
                        <option value=""></option>
                        <option value="action" selected="">Action</option>
                        <option value="bonus">Bonus Action</option>
                        <option value="crew">Crew Action</option>
                        <option value="day">Days</option>
                        <option value="hour">Hours</option>
                        <option value="legendary">Legendary Actions</option>
                        <option value="minute">Minutes</option>
                        <option value="none">None</option>
                        <option value="reaction">Reaction</option>
                        <option value="special">Special</option>
                        <option value="lair">Uses Lair Action</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Activation Condition</label>
                <div class="form-fields">
                    <input type="text" name="data.activation.condition" value="">
                </div>
            </div>
            <div class="form-group input-select-select">
                <label>Target</label>
                <div class="form-fields">
                    <input type="text" name="data.target.value" value="" data-dtype="Number" placeholder="-">
                    <select name="data.target.units">
                        <option value="" selected=""></option>
                        <option value="none">None</option>
                        <option value="self">Self</option>
                        <option value="touch">Touch</option>
                        <option value="ft">Feet</option>
                        <option value="mi">Miles</option>
                        <option value="spec">Special</option>
                        <option value="any">Any</option>
                    </select>
                    <select name="data.target.type">
                        <option value="" selected=""></option>
                        <option value="ally">Ally</option>
                        <option value="cone">Cone</option>
                        <option value="creature">Creature</option>
                        <option value="cube">Cube</option>
                        <option value="cylinder">Cylinder</option>
                        <option value="enemy">Enemy</option>
                        <option value="line">Line</option>
                        <option value="none">None</option>
                        <option value="object">Object</option>
                        <option value="radius">Radius</option>
                        <option value="self">Self</option>
                        <option value="space">Space</option>
                        <option value="sphere">Sphere</option>
                        <option value="square">Square</option>
                        <option value="wall">Wall</option>
                    </select>
                </div>
            </div>
            <div class="form-group input-select">
                <label>Range</label>
                <div class="form-fields">
                    <input type="text" name="data.range.value" value="5" data-dtype="Number" placeholder="Normal">
                    <span class="sep">/</span>
                    <input type="text" name="data.range.long" value="" data-dtype="Number" placeholder="Max">
                    <select name="data.range.units">
                        <option value=""></option>
                        <option value="none">None</option>
                        <option value="self">Self</option>
                        <option value="touch">Touch</option>
                        <option value="ft" selected="">Feet</option>
                        <option value="mi">Miles</option>
                        <option value="spec">Special</option>
                        <option value="any">Any</option>
                    </select>
                </div>
            </div>
            <div class="form-group input-select">
                <label>Duration</label>
                <div class="form-fields">
                    <input type="text" name="data.duration.value" value="" data-dtype="Number" placeholder="-">
                    <select name="data.duration.units">
                        <option value="" selected=""></option>
                        <option value="day">Days</option>
                        <option value="hour">Hours</option>
                        <option value="inst">Instantaneous</option>
                        <option value="minute">Minutes</option>
                        <option value="month">Months</option>
                        <option value="perm">Permanent</option>
                        <option value="round">Rounds</option>
                        <option value="spec">Special</option>
                        <option value="turn">Turns</option>
                        <option value="year">Years</option>
                    </select>
                </div>
            </div>
            <div class="form-group uses-per">
                <label>Limited Uses</label>
                <div class="form-fields">
                    <input type="text" name="data.uses.value" value="0" data-dtype="Number">
                    <span class="sep"> of </span>
                    <input type="text" name="data.uses.max" value="0" data-dtype="Number">
                    <select name="data.uses.per">
                        <option value="" selected=""></option>
                        <option value="sr">Short Rest</option>
                        <option value="lr">Long Rest</option>
                        <option value="day">Day</option>
                        <option value="charges">Charges</option>
                    </select>
                </div>
            </div>
            <div class="form-group uses-per">
                <label>Resource Consumption</label>
                <div class="form-fields">
                    <select name="data.consume.type">
                        <option value="" selected=""></option>
                        <option value="ammo">Ammunition</option>
                        <option value="attribute">Attribute</option>
                        <option value="charges">Item Uses</option>
                        <option value="material">Material</option>
                    </select>
                    <select name="data.consume.target">
                        <option value="" selected=""></option>
                    </select>
                    <input type="text" name="data.consume.amount" value="" data-dtype="Number">
                </div>
            </div>
            <h3 class="form-header">Weapon Attack</h3>
            <div class="form-group select">
                <label>Action Type</label>
                <select name="data.actionType">
                    <option value=""></option>
                    <option value="mwak" selected="">Melee Weapon Attack</option>
                    <option value="rwak">Ranged Weapon Attack</option>
                    <option value="msak">Melee Spell Attack</option>
                    <option value="rsak">Ranged Spell Attack</option>
                    <option value="save">Saving Throw</option>
                    <option value="heal">Healing</option>
                    <option value="abil">Ability Check</option>
                    <option value="util">Utility</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="form-group select">
                <label>Ability Modifier</label>
                <select name="data.ability">
                    <option value="" selected="">Default</option>
                    <option value="str">Strength</option>
                    <option value="dex">Dexterity</option>
                    <option value="con">Constitution</option>
                    <option value="int">Intelligence</option>
                    <option value="wis">Wisdom</option>
                    <option value="cha">Charisma</option>
                </select>
            </div>
            <div class="form-group">
                <label>Attack Roll Bonus</label>
                <div class="form-fields">
                    <input type="text" name="data.attackBonus" value="0" data-dtype="Number">
                </div>
            </div>
            <h4 class="damage-header">
                Damage Formula
                <a class="damage-control add-damage"><i class="fas fa-plus"></i></a>
            </h4>
            <ol class="damage-parts form-group">
                <li class="damage-part flexrow" data-damage-part="0">
                    <input type="text" name="data.damage.parts.0.0" value="1d8 + @mod">
                    <select name="data.damage.parts.0.1">
                        <option value="">None</option>
                        <option value="acid">Acid</option>
                        <option value="bludgeoning">Bludgeoning</option>
                        <option value="cold">Cold</option>
                        <option value="fire">Fire</option>
                        <option value="force">Force</option>
                        <option value="lightning">Lightning</option>
                        <option value="necrotic">Necrotic</option>
                        <option value="piercing">Piercing</option>
                        <option value="poison">Poison</option>
                        <option value="psychic">Psychic</option>
                        <option value="radiant">Radiant</option>
                        <option value="slashing" selected="">Slashing</option>
                        <option value="thunder">Thunder</option>
                        <option value="healing">Healing</option>
                        <option value="temphp">Healing (Temporary)</option>
                    </select>
                    <a class="damage-control delete-damage"><i class="fas fa-minus"></i></a>
                </li>
            </ol>
            <div class="form-group">
                <label>Versatile Damage</label>
                <div class="form-fields">
                    <input type="text" name="data.damage.versatile" value="1d10 + @mod" placeholder="Formula">
                </div>
            </div>
            <div class="form-group">
                <label>Other Formula</label>
                <div class="form-fields">
                    <input type="text" name="data.formula" value="" placeholder="Formula">
                </div>
            </div>
            <div class="form-group input-select">
                <label>Saving Throw</label>
                <div class="form-fields">
                    <select name="data.save.ability">
                        <option value="" selected=""></option>
                        <option value="str">Strength</option>
                        <option value="dex">Dexterity</option>
                        <option value="con">Constitution</option>
                        <option value="int">Intelligence</option>
                        <option value="wis">Wisdom</option>
                        <option value="cha">Charisma</option>
                    </select>
                    <span>vs DC.</span>
                    <input type="text" name="data.save.dc" value="" data-dtype="Number" placeholder="DC" disabled="">
                    <select name="data.save.scaling">
                        <option value="spell" selected="">Spellcasting</option>
                        <option value="str">Strength</option>
                        <option value="dex">Dexterity</option>
                        <option value="con">Constitution</option>
                        <option value="int">Intelligence</option>
                        <option value="wis">Wisdom</option>
                        <option value="cha">Charisma</option>
                        <option value="flat">Flat</option>
                    </select>
                </div>
            </div>
            <div class="form-group stacked">
                <label>Chat Message Flavor</label>
                <input type="text" name="data.chatFlavor" value="">
            </div>
        </div>
    </section>
</form>