{{#each combat.categories as |category id|}}
    {{#if (gt category.items.length 0)}}
        <ol class="inventory-list foldable {{#if (includes ../folded.combat category.id)}}folded{{/if}}" data-tab="combat" data-category="{{category.id}}">
            <li class="inventory-header flexrow">
                <h3 class="item-name flexrow">{{localize category.label}}</h3>
                {{#if (isNotLimited @root)}}                    
                    {{#if (isCategoryIn category.id "ranged" "spell")}}<div class="item-detail">{{localize "COF.combat.range"}}</div>{{else}}<div class="item-detail"></div>{{/if}}
                    {{#if (isCategoryIn category.id "melee" "ranged" "shield")}}<div class="item-detail">{{localize "COF.combat.usage"}}</div>{{else}}<div class="item-detail"></div>{{/if}}
                    {{#if (isCategoryIn category.id "melee" "ranged" "spell")}}<div class="item-detail">{{localize "COF.combat.crit"}}</div>{{else}}<div class="item-detail"></div>{{/if}}
                    {{#if (isCategoryIn category.id "melee" "ranged" "spell")}}<div class="item-detail">{{localize "COF.combat.mod"}}</div>{{else}}<div class="item-detail"></div>{{/if}}
                    {{#if (isCategoryIn category.id "melee" "ranged" "spell")}}<div class="item-detail">{{localize "COF.combat.dm"}}</div>{{else}}{{#if (isCategoryIn category.id "armor" "shield" "spell")}}<div class="item-detail">{{localize "COF.combat.defense"}}</div>{{else}}<div class="item-detail"></div>{{/if}}{{/if}}
                    {{#if @root.editable}} <div class="item-controls"></div> {{/if}}
                {{/if}}
            </li>
            <ol class="item-list" {{#if (includes ../folded.combat category.id)}}style="display: none;"{{/if}}>
            {{#each category.items as |item id|}}
                {{> "systems/cof/templates/actors/parts/combat/actor-combat-item.hbs" item}}
            {{/each}}
            </ol>
        </ol>
    {{/if}}
{{/each}}
{{#if (gt combat.capacities.items.length 0)}}
    <ol class="inventory-list foldable">
                <li class="inventory-header flexrow">
                    <h3 class="item-name flexrow">{{combat.capacities.label}}</h3>
                    <div class="item-detail">{{localize "COF.capacity.limited"}}</div>
                    <div class="item-detail">{{localize "COF.ui.spell"}}</div>
                    <div class="item-detail">{{localize "COF.capacity.usages"}}</div>
                    <div class="item-detail">{{localize "COF.capacity.actions"}}</div>
                    {{#if @root.editable}}
                        <div class="item-controls">
                            <a class="item-control item-create cof-compendium-pack" data-pack="capacities" data-open="0" title="{{localize "COF.capacity.add"}}"><i class="fas fa-plus"></i>&nbsp; {{localize "COF.ui.add"}}</a>
                        </div>
                    {{/if}}
                </li>
                <ol class="item-list" {{#if (includes ../folded.capacities collection.id)}}style="display: none;"{{/if}}>
                {{#each collection.items as |capacity id|}}
                    <li class="item flexrow" data-item-id="{{capacity._id}}" data-item-type="item" data-item-type="item" draggable="true">
                        <div class="item-name flexrow">
                            <div class="item-image" style="background-image: url('{{capacity.img}}')"></div>
                            <h4>{{capacity.name}}</h4>
                        </div>
                        <div class="item-detail">{{#if capacity.system.limited}}L{{/if}}</div>
                        <div class="item-detail">{{#if capacity.system.spell}}&#10033;{{/if}}</div>
                        <div class="item-detail">{{#if capacity.system.use}}{{capacity.system.use}}{{/if}}</div>
                        <div class="item-detail">{{#if capacity.system.activable}}
                            <a class="item-control capacity-activate" title="{{localize "COF.capacity.activate"}}"><i class="fas fa-check"></i></a>
                        {{/if}}
                        </div>
                        {{#if @root.editable}}
                            <div class="item-controls">
                                <a class="item-control item-edit" title="{{localize "COF.capacity.edit"}}"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize "COF.capacity.delete"}}"><i class="fas fa-trash"></i></a>
                            </div>
                        {{/if}}
                        <div class="item-summary" style="display: none">
                            {{{capacity.system.description}}}
                            <div class="item-properties">
                                {{#if capacity.system.spell}}<span class="tag">{{localize "COF.ui.spell"}}</span>{{/if}}
                                {{#if capacity.system.limited}}<span class="tag">{{localize "COF.ui.limited"}}</span>{{/if}}
                            </div>
                        </div>
                    </li>
                {{/each}}
                </ol>
            </ol>
{{/if}}