<div class="flexrow">
    <div class="flex1 center bg-default">
        <span class="field-label">{{ localize 'COF.details.gender' }}</span>
    </div>
    <div class="flex4 cell">
        <input class="field-value" name="system.details.gender" type="text" value="{{actor.system.details.gender}}" placeholder="" data-dtype="String"/>
    </div>
</div>
<div class="flexrow">
    <div class="flex1 center bg-default">
        <span class="field-label">{{ localize "COF.details.age" }}</span>
    </div>
    <div class="flex4 cell">
        <input class="field-value" name="system.details.age" type="text" value="{{actor.system.details.age}}" placeholder="" data-dtype="String"/>
    </div>
</div>
<div class="flexrow">
    <div class="flex1 center bg-default">
        <span class="field-label">{{ localize "COF.details.height" }}</span>
    </div>
    <div class="flex4 cell">
        <input class="field-value" name="system.details.height" type="text" value="{{actor.system.details.height}}" placeholder="" data-dtype="String"/>
    </div>
</div>
<div class="flexrow">
    <div class="flex1 center bg-default">
        <span class="field-label">{{ localize "COF.details.weight" }}</span>
    </div>
    <div class="flex4 cell">
        <input class="field-value" name="system.details.weight" type="text" value="{{actor.system.details.weight}}" placeholder="" data-dtype="String"/>
    </div>
</div>
<div class="flexrow">
    <div class="flex1 center bg-default">
        <span class="field-label">{{ localize "COF.details.eyes" }}</span>
    </div>
    <div class="flex4 cell">
        <input class="field-value" name="system.details.eyes" type="text" value="{{actor.system.details.eyes}}" placeholder="" data-dtype="String"/>
    </div>
</div>
<div class="flexrow">
    <div class="flex1 center bg-default">
        <span class="field-label">{{ localize "COF.details.hair" }}</span>
    </div>
    <div class="flex4 cell">
        <input class="field-value" name="system.details.hair" type="text" value="{{actor.system.details.hair}}" placeholder="" data-dtype="String"/>
    </div>
</div>
{{#if actor.system.milieu}}
<div class="flexrow">
    <div class="flex1 center bg-default">
        <span class="field-label">{{ localize 'COF.ui.milieu' }}</span>
    </div>
    <div class="flex4 cell">
        <input class="field-value sans" name="system.milieu" type="text" value="{{actor.system.milieu}}" placeholder="{{ localize 'COF.ui.milieu' }}" data-dtype="String"/>
    </div>
</div>
{{/if}}
<hr/>
<div class="flexrow">
    <div class="flex">
        <span class="field-label">{{ localize "COF.details.description" }}</span>
    </div>
</div>
<hr/>
{{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
