{{#if (isEmpty (getPaths actor.items))}}
{{else}}
    <div class="path-list">
        <div class="grid">
            <!--        <div class="gridrow grid-6col-150 gridheader darkgreen">-->
            <!--            <div>&nbsp;</div>-->
            <!--            <div class="grid-5col gridcell-sm center">Rangs</div>-->
            <!--        </div>-->
            <div class="gridrow grid-6col-150 gridheader">
                <div>&nbsp;</div>
                <div class="gridcell gridcell-sm bg-darkgreen">1</div>
                <div class="gridcell gridcell-sm bg-darkgreen">2</div>
                <div class="gridcell gridcell-sm bg-darkgreen">3</div>
                <div class="gridcell gridcell-sm bg-darkgreen">4</div>
                <div class="gridcell gridcell-sm bg-darkgreen">5</div>
            </div>
            {{#each (getPaths actor.items) as |path id|}}
                <div class="gridrow grid-6col-150 item" data-item-id="{{path._id}}">
                    <div class="gridcell left gridheader darkgreen no-border">
                        <a class="item-edit ellipsis" style="width: 100%; text-align: left" title="{{path.name}}">{{path.name}}</a>&nbsp;
                        <span class="path-controls item" data-item-id="{{path._id}}" style="padding-right:5px;"><a class="item-control item-delete" title="Delete Item"><i class="fas fa-times"></i></a></span>
                    </div>
                    {{#each (getCapacitiesByPath ../actor.items path.data.key) as |capacity id|}}
                        <div class="gridcell gridcell-sm item capacity left darkgreen" data-item-id="{{capacity._id}}">
                            {{#if capacity.data.checked}}
                                <a class="capacity-control capacity-checked" title="{{capacity.name}}"><i class="fas fa-square"></i></a>&nbsp;
                                <a class="capacity-control capacity-edit ellipsis">{{capacity.name}}</a>
                            {{else}}
                            <a class="capacity-control capacity-unchecked" title="{{capacity.name}}"><i class="far fa-square"></i>&nbsp;
                                <a class="capacity-control capacity-edit ellipsis">{{capacity.name}}</a>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
{{/if}}
{{#if (isEmpty (getCapacities actor.items))}}
    <p class="empty">Aucune capacité n'a été sélectionnée pour le moment</p>
{{else}}
<div class="grid grid-3col capacity-list">
    {{#each (getCapacities actor.items) as |capacity id|}}
        <div class="capacity item" data-item-id="{{capacity._id}}">
            <div class="capacity-title center">
                <a class="flex1 capacity-control capacity-edit" title="{{capacity.name}}">
                    {{capacity.name}}
                    {{#if capacity.data.rank}}({{capacity.data.rank}}){{/if}}
                    {{#if capacity.data.spell}}&nbsp;&#10033;{{/if}}
                    {{#if capacity.data.limited}}&nbsp;(L){{/if}}
                </a>
                &nbsp;
                <a class="flex0 capacity-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
            <div class="capacity-path">
                {{#with (getPath ../actor.items capacity.data.path)}}
                    <em>{{{name}}}</em>
                {{/with}}
            </div>
            <div class="capacity-description">
                <div>{{{capacity.data.description}}}</div>
            </div>
        </div>
    {{/each}}
    <div class="capacity item">
        <p class="center light"><strong>Ajouter une capacité.</strong></p>
        <p class="center light">
            <a class="capacity-add compendium-pack" data-pack="cof.capacities" data-open="0" title="Ajouter une capacité" style="padding-top: 25px">
                <i class="fas fa-plus-square fa-10x"></i>
            </a>
        </p>
    </div>
</div>
{{/if}}
