{{#if (isEmpty (getPaths actor.items))}}
{{else}}
    <div class="path-list encounter">
        <div class="grid">
            <div class="gridrow grid-6col-150 gridheader">
                <div>&nbsp;</div>
                <div class="gridcell gridcell-sm bg-darkgreen">1</div>
                <div class="gridcell gridcell-sm bg-darkgreen">2</div>
                <div class="gridcell gridcell-sm bg-darkgreen">3</div>
                <div class="gridcell gridcell-sm bg-darkgreen">4</div>
                <div class="gridcell gridcell-sm bg-darkgreen">5</div>
            </div>
            {{#each (getPaths actor.items) as |path id|}}
                <div class="gridrow grid-6col-150 item" data-item-id="{{path._id}}">
                    <div class="gridcell left gridheader darkgreen no-border">
                        <a class="item-edit ellipsis" style="width: 100%; text-align: left" title="{{path.name}}">{{path.name}}</a>&nbsp;
                        <span class="path-controls item" data-item-id="{{path._id}}" style="padding-right:5px;"><a class="item-control item-delete" title="Delete Item"><i class="fas fa-times"></i></a></span>
                    </div>
                    {{#each (getCapacitiesByPath ../actor.items path.data.key) as |capacity id|}}
                        <div class="gridcell gridcell-sm item capacity left darkgreen" data-item-id="{{capacity._id}}">
                            {{#if capacity.data.checked}}
                                <a class="capacity-control capacity-checked" title="{{capacity.name}}"><i class="fas fa-square"></i></a>&nbsp;
                                <a class="capacity-control capacity-edit ellipsis">{{capacity.name}}</a>
                            {{else}}
                            <a class="capacity-control capacity-unchecked" title="{{capacity.name}}"><i class="far fa-square"></i>&nbsp;
                                <a class="capacity-control capacity-edit ellipsis">{{capacity.name}}</a>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
{{/if}}
<div class="capacity-toolbar row flexrow">
    <div class="capacity-tools flex1 right">
        <a class="capacity-tool path-add compendium-pack" data-pack="cof.paths" data-open="0" title="Ajouter une voie"><i class="fas fa-plus-square"></i>&nbsp; Ajouter une voie</a>
        &nbsp;
        <a class="capacity-tool capacity-add compendium-pack" data-pack="cof.capacities" data-open="0" title="Ajouter une capacité"><i class="fas fa-plus-square"></i>&nbsp; Ajouter une capacité</a>
        &nbsp;
        <a class="capacity-tool capacity-create" title="Créer une capacité"><i class="fas fa-edit"></i>&nbsp; Créer une capacité</a>
    </div>
</div>
{{#if (and (and (isEmpty (getActiveCapacities actor.items)) (isEmpty actor.data.capacities)) (isEmpty actor.data.paths))}}
    <p class="empty">Aucune capacité n'a été sélectionnée pour le moment</p>
{{else}}
    <div class="capacity-list encounter {{#if (isEmpty (getPaths actor.items))}}nopath{{/if}}">
    {{#each actor.data.capacities as |capacity id|}}
        <div class="capacity item" data-item-type="inner" data-item-id="{{id}}">
            <div class="flexrow capacity-title">
                <div class="flex0 capacity-icon"><img src="/systems/cof/ui/icons/capacity.png" title="{{capacity.name}}" width="24" height="24"/></div>
                <a class="flex1 capacity-label capacity-toggle" title="{{capacity.name}}">{{{capacity.name}}}</a>
                &nbsp;
                <a class="flex0 capacity-control capacity-edit" title="{{capacity.name}}"><i class="fas fa-edit"></i></a>
                &nbsp;
                <a class="flex0 capacity-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
            <div class="capacity-description">
                <div>{{{capacity.description}}}</div>
            </div>
        </div>
    {{/each}}
    {{#each actor.data.paths as |cap id|}}
        {{#with (findCapacity cap.key) as |capacity id|}}
            <div class="capacity item" data-item-type="item" data-item-id="{{capacity._id}}">
                <div class="flexrow capacity-title">
                    <div class="flex0 capacity-icon"><img src="{{capacity.img}}" title="{{capacity.name}}" width="24" height="24"/></div>
                    <a class="flex1 capacity-label capacity-toggle" title="{{capacity.name}}">{{{capacity.name}}}
                        {{#if capacity.data.spell}}&nbsp;&#10033;{{/if}}
                        {{#if capacity.data.limited}}&nbsp;(L){{/if}}
                        &nbsp;
                        {{#with (findPath capacity.data.path) as |path id|}}
                            <em>({{{path.name}}}{{#if capacity.data.rank}}, {{capacity.data.rank}}{{/if}})</em>
                        {{/with}}
                    </a>
                    &nbsp;
                    <a class="flex0 capacity-control capacity-edit" title="{{capacity.name}}"><i class="fas fa-edit"></i></a>
                    &nbsp;
                    <a class="flex0 capacity-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
                <div class="capacity-description">
                    <div>{{{capacity.data.description}}}</div>
                </div>
            </div>
        {{/with}}
    {{/each}}
    {{#each (getActiveCapacities actor.items) as |capacity id|}}
        <div class="capacity item" data-item-type="item" data-item-id="{{capacity._id}}">
            <div class="flexrow capacity-title">
                <div class="flex0 capacity-icon"><img src="{{capacity.img}}" title="{{capacity.name}}" width="24" height="24"/></div>
                <a class="flex1 capacity-label capacity-toggle" title="{{capacity.name}}">{{{capacity.name}}}
                    {{#if capacity.data.rank}}({{capacity.data.rank}}){{/if}}
                    {{#if capacity.data.spell}}&nbsp;&#10033;{{/if}}
                    {{#if capacity.data.limited}}&nbsp;(L){{/if}}
                    &nbsp;
                    {{#with (getPath ../actor.items capacity.data.path)}}
                        <em>({{{name}}}{{#if capacity.data.rank}}, {{capacity.data.rank}}{{/if}})</em>
                    {{/with}}
                </a>
                &nbsp;
                <a class="flex0 capacity-control capacity-edit" title="{{capacity.name}}"><i class="fas fa-edit"></i></a>
                &nbsp;
                <a class="flex0 capacity-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
            <div class="capacity-description">
                <div>{{{capacity.data.description}}}</div>
            </div>
        </div>
    {{/each}}
</div>
{{/if}}
