<div class="flexrow no-wrap currencies" style="max-height:20px">
    <div class="flex7"></div>
    <div class="flex1 left">{{localize "COF.inventory.purse"}}</div>
    <div class="flex1 left">
        <i title="{{localize "COF.currency.pp.label"}}" class="fas fa-coins" style="color:dimgray"></i>
        <input class="field-value center" name="system.currency.pp.qty" type="number" value="{{actor.system.currency.pp.qty}}" data-dtype="Number"/>
    </div>
    <div class="flex1 left">
        <i title="{{localize "COF.currency.gp.label"}}" class="fas fa-coins" style="color:goldenrod"></i>
        <input class="field-value center" name="system.currency.gp.qty" type="number" value="{{actor.system.currency.gp.qty}}" data-dtype="Number"/>
    </div>
    <div class="flex1 left">
        <i title="{{localize "COF.currency.sp.label"}}" class="fas fa-coins" style="color:silver"></i>
        <input class="field-value center" name="system.currency.sp.qty" type="number" value="{{actor.system.currency.sp.qty}}" data-dtype="Number"/>
    </div>
    <div class="flex1 left">
        <i title="{{localize "COF.currency.cp.label"}}" class="fas fa-coins" style="color:saddlebrown"></i>
        <input class="field-value center" name="system.currency.cp.qty" type="number" value="{{actor.system.currency.cp.qty}}" data-dtype="Number"/>
    </div>
</div>
{{#if (gt inventory.count 0)}}
    {{#each inventory.categories as |category id|}}
        {{#if (gt category.items.length 0)}}
            <ol class="inventory-list foldable {{#if (includes ../folded.inventory category.id)}}folded{{/if}}" data-tab="inventory" data-category="{{category.id}}">
                <li class="inventory-header flexrow">
                    <h3 class="item-name flexrow">{{localize category.label}}</h3>
                    
                    {{#if (isCategoryIn category.id "ranged" "spell")}}<div class="item-detail">{{localize "COF.combat.range"}}</div>{{else}}<div class="item-detail"></div>{{/if}}
                    {{#if (isCategoryIn category.id "melee" "ranged" "shield")}}<div class="item-detail">{{localize "COF.combat.usage"}}</div>{{else}}<div class="item-detail"></div>{{/if}}
                    {{#if (isCategoryIn category.id "melee" "ranged" "spell")}}<div class="item-detail">{{localize "COF.combat.crit"}}</div>{{else}}<div class="item-detail"></div>{{/if}}
                    {{#if (isCategoryIn category.id "melee" "ranged" "spell")}}<div class="item-detail">{{localize "COF.combat.mod"}}</div>{{else}}<div class="item-detail"></div>{{/if}}
                    {{#if (isCategoryIn category.id "melee" "ranged" "spell")}}<div class="item-detail">{{localize "COF.combat.dm"}}</div>{{else}}{{#if (isCategoryIn category.id "armor" "shield" "spell")}}<div class="item-detail">{{localize "COF.combat.defense"}}</div>{{else}}<div class="item-detail"></div>{{/if}}                    
                    {{/if}}

                    <div class="item-detail">{{localize "COF.ui.qty"}}</div>
                    <div class="item-detail"><i title="{{localize "COF.ui.stackValue"}}" class="fas fa-coins" style="color:silver"></i></div>
                    {{#if (or (equals ../actor.type "character") (equals ../actor.type "npc"))}}<div class="item-detail">{{localize "COF.ui.action"}}</div>{{/if}}
                    {{#if @root.editable}}
                        <div class="item-controls-3">
                            <a class="item-control item-create cof-compendium-pack" data-pack="items" data-open="0" title="{{localize "COF.item.add"}}"><i class="fas fa-plus"></i>&nbsp; {{localize "COF.ui.add"}}</a>
                        </div>
                    {{/if}}
                </li>
                <ol class="item-list" {{#if (includes ../folded.inventory category.id)}}style="display: none;"{{/if}}>
                {{#each category.items as |item id|}}
                    {{> "systems/cof/templates/actors/parts/inventory/actor-inventory-item.hbs" item owner=../../actor}}
                {{/each}}
                </ol>
            </ol>
        {{/if}}
    {{/each}}
{{else}}
    <p class="empty">{{localize "COF.inventory.empty"}}</p>
{{/if}}
